In [61]:
import pandas as pd
import numpy as np

In [62]:
# Path to your Parquet gzip file
file_path_1 = '../../1_Data/Medical_transport/ambulance_locations.parquet.gzip'
file_path_2 = '../../1_Data/Medical_transport/pit_locations.parquet.gzip'
file_path_3 = '../../1_Data/Medical_transport/mug_locations.parquet.gzip'
file_path_4 = '../../1_Data/AED_locations/aed_locations.parquet.gzip'
file_path_5 = '../../1_Data/Interventions_data/interventions_bxl.parquet.gzip'
file_path_6 = '../../1_Data/Interventions_data/interventions_bxl2.parquet.gzip'
file_path_7 = '../../1_Data/Interventions_data/interventions1.parquet.gzip'
file_path_8 = '../../1_Data/Interventions_data/interventions2.parquet.gzip'
file_path_9 = '../../1_Data/Interventions_data/interventions3.parquet.gzip'
file_path_10 = '../../1_Data/Interventions_data/cad9.parquet.gzip'

# Read the Parquet file into a pandas DataFrame
df_ambulance_locations = pd.read_parquet(file_path_1, engine='pyarrow')
df_pit_locations = pd.read_parquet(file_path_2, engine='pyarrow')
df_mug_locations = pd.read_parquet(file_path_3, engine='pyarrow')
df_aed_locations = pd.read_parquet(file_path_4, engine='pyarrow')
df_interventions_bxl = pd.read_parquet(file_path_5, engine='pyarrow')
df_interventions_bxl2 = pd.read_parquet(file_path_6, engine='pyarrow')
df_interventions1 = pd.read_parquet(file_path_7, engine='pyarrow')
df_interventions2 = pd.read_parquet(file_path_8, engine='pyarrow')
df_interventions3 = pd.read_parquet(file_path_9, engine='pyarrow')
df_cad9 = pd.read_parquet(file_path_10, engine='pyarrow')

In [63]:
# Load the data sets from data.py
#from data import df_ambulance_locations, df_pit_locations, df_mug_locations, df_aed_locations, df_interventions_bxl, df_interventions_bxl2, df_interventions1, df_interventions2, df_interventions3, df_cad9

In [64]:
# LOCATIONS: Print data set + data type of each variable + values of specific columns

#print(df_ambulance_locations)
#print(df_ambulance_locations.dtypes)
#print(df_ambulance_locations.departure_location)

#print(df_pit_locations)
#print(df_pit_locations.dtypes)
#print(df_pit_locations['campus'].unique())

#print(df_mug_locations)
#print(df_mug_locations.dtypes)
#print(df_mug_locations.name_hospital)
#print(df_mug_locations.address_campus)

#print(df_aed_locations)
#print(df_aed_locations.dtypes)
#print(df_aed_locations['address'].unique())

In [65]:
# INTERVENTIONS: Print data set + data type of each variable + values of specific columns

#print(df_interventions_bxl)
#print(df_interventions_bxl.dtypes)
#print(df_interventions_bxl.postalcode_permanence)
#print(df_interventions_bxl.t0)

#print(df_interventions_bxl2)
#print(df_interventions_bxl2.dtypes)
#print(df_interventions_bxl2['EventType and EventLevel'].unique())
#print(df_interventions_bxl2['EventType'].unique())
#print(df_interventions_bxl2['eventlevel_trip'].unique())
#print(df_interventions_bxl2.T0)

#print(df_interventions1)
#print(df_interventions1.dtypes)
#print(df_interventions1.T0)

#print(df_interventions2)
#print(df_interventions2.dtypes)
#print(df_interventions2.T0)

#print(df_interventions3)
#print(df_interventions3.dtypes)
#print(df_interventions3.T0)

#print(df_combined)
#print(df_combined.dtypes)
#print(df_combined.T0)
#print(combined_df['Vector type'].unique())
#print(combined_df['EventType Firstcall'].unique())
#print(combined_df['EventLevel Firstcall'].unique())
#print(combined_df['Abandon reason'].unique())

#print(df_cad9)
#print(df_cad9.dtypes)
#print(df_cad9.T0)

#print(df_interventions1)

In [66]:
# Define your dataset
all_datasets = [df_ambulance_locations, df_pit_locations, df_mug_locations, df_aed_locations, df_interventions_bxl, df_interventions_bxl2, df_interventions1, df_interventions2, df_interventions3, df_cad9]
all_interventions = [df_interventions_bxl, df_interventions_bxl2, df_interventions1, df_interventions2, df_interventions3, df_cad9]

In [67]:
# Check non-null counts of each dataset
#for df in all_datasets: df.info()

In [68]:
# Iterate over each dataset and remove duplicate rows
for i, dataset in enumerate(all_datasets, start=1):
    #print(f"Original size of Dataset {i}: {len(dataset)}")
    dataset.drop_duplicates(inplace=True)
    #print(f"Size of Dataset {i} after removing duplicates: {len(dataset)}")
    #print()

In [69]:
# Function to remove multiple spaces
def remove_multiple_spaces(event):
    if isinstance(event, str):
        return ' '.join(event.split())
    else:
        return event

# Apply the function to all columns of each dataset
for idx, dataset in enumerate(all_datasets):
    for column in dataset.columns:
        dataset[column] = dataset[column].apply(remove_multiple_spaces)

In [70]:
#Rename columns names
df_interventions_bxl.rename(columns={'intervention_time_t1reported': 'intervention_time_(t1reported)', 
                        'departure_time_t1reported': 'departure_time_(t1reported)',
                        'calculated_distance_destination_': 'calculated_distance_destination'}, inplace=True)
df_cad9.rename(columns={'Province invervention': 'province_intervention'}, inplace=True)
#Drop columns
df_interventions_bxl.drop(columns={'calculated_distance_departure_to', 'calculated_traveltime_departure_'}, inplace=True)
df_interventions_bxl2.drop(columns={'creationtime', 'description_nl','ic_description_nl'}, inplace=True)
df_cad9.drop(columns={'province', 'EventSubType Trip', 'CitysectionName intervention', 'UI', 'ID', 'MISSION_NR', 'AMBUCODE', 'UNIT_ID'}, inplace=True)

In [71]:
# Remove postal code from "Cityname Intervention"
# Split the 'Cityname Intervention' column by space and keep only the second part
df_interventions_bxl2['Cityname Intervention'] = df_interventions_bxl2['Cityname Intervention'].apply(lambda x: x.split(' ', 1)[1])

# Print the modified DataFrame
print(df_interventions_bxl2[['Cityname Intervention']])

                               Cityname Intervention
0                            schaerbeek (schaerbeek)
1                            schaerbeek (schaerbeek)
2                            koekelberg (koekelberg)
3                            koekelberg (koekelberg)
4                            schaerbeek (schaerbeek)
...                                              ...
38615  saint-josse-ten-noode (saint-josse-ten-noode)
38616                        anderlecht (anderlecht)
38617                                  uccle (uccle)
38618                                  uccle (uccle)
38619                          bruxelles (bruxelles)

[36710 rows x 1 columns]

In [72]:
# Define a function to extract EventType and EventLevel
def extract_event_info(event):
    if isinstance(event, str):
        parts = event.split()
        event_type = parts[0]
        event_level = parts[1] if len(parts) > 1 else None
        return event_type, event_level
    else:
        return None, None

# Apply the function to create EventType and EventLevel columns
df_interventions_bxl2[['EventType Trip', 'EventLevel Trip']] = df_interventions_bxl2['EventType and EventLevel'].apply(lambda x: pd.Series(extract_event_info(x)))

# Drop the original "EventType and EventLevel" column if needed
df_interventions_bxl2.drop(columns=['EventType and EventLevel'], inplace=True)

# Print the first few rows to verify
print(df_interventions_bxl2[['EventType Trip', 'EventLevel Trip']].head())

  EventType Trip EventLevel Trip
0           P033             N05
1           P032             N05
2           P010             N01
3           P010             N01
4           P039             N05

In [73]:
# Assuming the "EventType Trip" column contains strings
df_cad9['EventType Trip'] = df_cad9['EventType Trip'].str.split(' ').str[0]

# Print the first few rows to verify the changes
print(df_cad9[['EventType Trip']].head())

  EventType Trip
0           P034
1           P010
2           Y_TI
3           Y_TI
4           P020

In [74]:
# Create function to add the description to the Event type code PXXX
def update_event_type(dataset_to_update, dataset_with_reference):
    # Iterate over unique values in "EventType Trip" of df_interventions_bxl2
    for event_type in dataset_to_update['EventType Trip'].unique():
        # Check if the event_type is not NaN
        if isinstance(event_type, str):
            # Iterate over all values in "eventtype_trip" of df_interventions_bxl
            for event_trip in dataset_with_reference['eventtype_trip'].unique():
                # Check if the event_trip is not NaN
                if isinstance(event_trip, str):
                    # Check if the event type from df_interventions_bxl2 is present in eventtype_trip from df_interventions_bxl
                    if event_type in event_trip:
                        # Update "EventType Trip" in df_interventions_bxl2 with the corresponding value from df_interventions_bxl                       
                        dataset_to_update.loc[dataset_to_update['EventType Trip'] == event_type, 'EventType Trip'] = event_trip
                        # Break the inner loop once a match is found for better performance
                        break

# Apply the function to df_interventions_bxl2 using df_interventions_bxl as a reference
update_event_type(df_interventions_bxl2, df_interventions_bxl)

# Apply the function to df_cad9 using df_interventions_bxl as a reference
update_event_type(df_cad9, df_interventions_bxl)

# Print the first few rows to verify
print(df_interventions_bxl2[['EventType Trip']].head())
print(df_cad9[['EventType Trip']].head())

                                      EventType Trip
0                                      P033 - Trauma
1                          P032 - Allergic reactions
2                        P010 - Respiratory problems
3                        P010 - Respiratory problems
4  P039 - Cardiac problem (other than thoracic pain)
                EventType Trip
0          P034 - Skull trauma
1  P010 - Respiratory problems
2                         Y_TI
3                         Y_TI
4  P020 - Intoxication alcohol

In [75]:
# Define the mapping for standardizing the format
format_mapping = {'N05': 'N5', 'N01': 'N1', 'N03': 'N3', 'N04': 'N4', 'N02': 'N2', 'N07': 'N7', 'N06': 'N6', 'N08': 'N8'}

# Replace the values in the eventlevel_trip column using the mapping
df_interventions_bxl2['EventLevel Trip'] = df_interventions_bxl2['EventLevel Trip'].replace(format_mapping)

In [76]:
# Define the regex pattern to match values not in the specified list
pattern = r'^(?!(N[0-8]|Interventieplan)$).*$'

# Replace values not in the specified list with NaN
df_cad9['EventLevel Trip'] = df_cad9['EventLevel Trip'].replace(to_replace=pattern, value=np.nan, regex=True)

In [77]:
# List of datasets to clean
datasets_to_clean = [df_interventions_bxl, df_interventions_bxl2]

# Iterate over the datasets
for dataset in datasets_to_clean:
    # Remove columns containing 'FR' or 'fr' in their names
    columns_to_remove = [col for col in dataset.columns if 'FR' in col or 'fr' in col]
    dataset.drop(columns=columns_to_remove, inplace=True)
    
    # Replace ' NL' and ' nl' with empty strings in column names
    dataset.columns = dataset.columns.str.replace(' NL', '').str.replace(' nl', '')

In [78]:
# Standardize column names
for dataset in all_interventions:
    dataset.columns = dataset.columns.str.lower().str.replace(' ', '_')

In [79]:
# Select columns
columns_to_show = ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7']
selected_columns_1 = df_interventions_bxl[columns_to_show]
selected_columns_2 = df_interventions_bxl2[columns_to_show]
selected_columns_3 = df_interventions1[columns_to_show]
selected_columns_4 = df_interventions2[columns_to_show]
selected_columns_5 = df_interventions3[columns_to_show]
selected_columns_6 = df_cad9[columns_to_show]

# Show the selected columns
print(selected_columns_1)
print(selected_columns_2)
print(selected_columns_3)
print(selected_columns_4)
print(selected_columns_5)
print(selected_columns_6)

                                        t0  \
0       2022-09-06 11:49:21.5868598 +02:00
1       2022-09-06 11:49:21.5868598 +02:00
2       2022-09-06 11:55:35.7936791 +02:00
3       2022-09-06 12:39:23.4337324 +02:00
4       2022-09-06 13:26:48.3379147 +02:00
...                                    ...
115642  2023-05-31 23:33:23.8187792 +02:00
115643  2023-05-31 23:33:23.8187792 +02:00
115644  2023-05-31 23:41:50.1818455 +02:00
115645  2023-05-31 23:41:50.1818455 +02:00
115646  2023-05-31 23:42:36.3935358 +02:00

                                        t1  \
0       2022-09-06 09:51:01.8972360 +00:00
1       2022-09-06 09:53:01.0232493 +00:00
2       2022-09-06 09:57:49.5158049 +00:00
3       2022-09-06 10:42:31.1121581 +00:00
4       2022-09-06 11:29:34.8646697 +00:00
...                                    ...
115642  2023-05-31 21:35:03.4270000 +00:00
115643  2023-05-31 21:35:03.5854187 +00:00
115644  2023-05-31 21:42:49.6908746 +00:00
115645  2023-05-31 21:42:49.9140000 +00:00
115646  2023-05-31 21:48:30.2205116 +00:00

                                        t2  \
0                                     None
1       2022-09-06 09:58:27.8729389 +00:00
2                                     None
3       2022-09-06 10:43:03.1332226 +00:00
4                                     None
...                                    ...
115642  2023-05-31 21:38:31.6307434 +00:00
115643                                None
115644                                None
115645  2023-05-31 21:46:01.6667078 +00:00
115646  2023-05-31 21:51:56.2253036 +00:00

                                        t3  \
0                                     None
1       2022-09-06 10:07:00.7842800 +00:00
2                                     None
3                                     None
4                                     None
...                                    ...
115642  2023-05-31 21:42:56.0215922 +00:00
115643                                None
115644                                None
115645  2023-05-31 21:47:42.0045704 +00:00
115646  2023-05-31 21:54:04.9165612 +00:00

                                        t4  \
0                                     None
1       2022-09-06 10:16:56.2028727 +00:00
2                                     None
3                                     None
4                                     None
...                                    ...
115642                                None
115643                                None
115644                                None
115645  2023-05-31 22:00:21.0906304 +00:00
115646  2023-05-31 21:59:38.9532987 +00:00

                                        t5  \
0                                     None
1       2022-09-06 10:36:50.5682394 +00:00
2                                     None
3                                     None
4                                     None
...                                    ...
115642                                None
115643                                None
115644                                None
115645  2023-05-31 22:06:24.8411904 +00:00
115646  2023-05-31 22:01:59.2422068 +00:00

                                        t6                                  t7
0                                     None  2022-09-06 09:52:43.7446626 +00:00
1                                     None  2022-09-06 10:41:59.4592739 +00:00
2                                     None  2022-09-06 09:58:47.1029350 +00:00
3       2022-09-06 10:56:26.8268314 +00:00  2022-09-06 11:02:19.5976460 +00:00
4                                     None  2022-09-06 11:30:23.3610743 +00:00
...                                    ...                                 ...
115642  2023-05-31 21:51:33.5137031 +00:00  2023-05-31 21:59:59.4578056 +00:00
115643                                None  2023-05-31 21:38:33.6776727 +00:00
115644                                None  2023-05-31 21:46:03.0417682 +00:00
115645  2023-05-31 22:24:05.7635091 +00:00  2023-05-31 22:28:22.9505087 +00:00
115646  2023-05-31 22:23:48.8097201 +00:00  2023-05-31 22:24:00.1852243 +00:00

[115645 rows x 8 columns]
                     t0                t1                t2                t3  \
0      01JUN22:00:02:45  01JUN22:00:04:22  01JUN22:00:15:56  01JUN22:00:15:59
1      01JUN22:00:04:58  01JUN22:00:08:00  01JUN22:00:10:03  01JUN22:00:19:43
2      01JUN22:00:07:43              None              None              None
3      01JUN22:00:07:43              None              None              None
4      01JUN22:00:09:18  01JUN22:00:12:05  01JUN22:00:13:03  01JUN22:00:20:29
...                 ...               ...               ...               ...
38615  06SEP22:14:02:31  06SEP22:14:05:10  06SEP22:14:06:15  06SEP22:14:10:15
38616  06SEP22:14:11:22  06SEP22:14:12:08  06SEP22:14:12:09              None
38617  06SEP22:14:11:47              None              None              None
38618  06SEP22:14:11:47              None              None              None
38619  06SEP22:14:13:51  06SEP22:14:17:36  06SEP22:14:17:37  06SEP22:14:27:13

                     t4                t5                t6                t7
0                  None              None  01JUN22:00:38:06  01JUN22:00:43:54
1      01JUN22:00:19:49  01JUN22:00:24:25  01JUN22:01:59:18  01JUN22:01:59:19
2                  None              None              None              None
3                  None              None              None              None
4                  None              None  01JUN22:00:34:11  01JUN22:00:55:36
...                 ...               ...               ...               ...
38615  06SEP22:14:10:33  06SEP22:14:39:02  06SEP22:14:25:39  06SEP22:14:35:48
38616              None              None  06SEP22:15:32:06  06SEP22:15:36:50
38617              None              None              None              None
38618              None              None              None              None
38619  06SEP22:14:42:10  06SEP22:14:48:11  06SEP22:15:24:23  06SEP22:15:37:04

[36710 rows x 8 columns]
                      t0                t1                       t2  \
0       01JUN22:00:01:34  01JUN22:00:03:26  2022-06-01 00:07:34.655
1       01JUN22:00:03:51  01JUN22:00:06:14  2022-06-01 00:10:00.017
2       01JUN22:00:03:51  01JUN22:00:22:18  2022-06-01 00:25:35.404
3       01JUN22:00:08:56  01JUN22:00:12:59  2022-06-01 00:15:36.856
4       01JUN22:00:10:38  01JUN22:00:15:00  2022-06-01 00:18:01.345
...                  ...               ...                      ...
200622  11JUL22:06:59:08  11JUL22:07:01:30  2022-07-11 07:02:55.511
200623  11JUL22:07:01:37  11JUL22:07:03:26  2022-07-11 07:04:28.501
200624  11JUL22:07:05:40  11JUL22:07:08:41  2022-07-11 07:14:04.569
200625  11JUL22:07:09:58  11JUL22:07:12:09  2022-07-11 07:15:56.741
200626  11JUL22:07:09:58  11JUL22:07:12:09  2022-07-11 07:15:58.751

                             t3                       t4  \
0       2022-06-01 00:17:53.888                     None
1       2022-06-01 00:16:25.356  2022-06-01 00:46:34.089
2       2022-06-01 00:35:58.397  2022-06-01 00:46:30.026
3       2022-06-01 00:27:35.760                     None
4       2022-06-01 00:25:28.053  2022-06-01 00:50:17.593
...                         ...                      ...
200622  2022-07-11 07:13:41.402  2022-07-11 07:29:08.581
200623  2022-07-11 07:09:30.712  2022-07-11 07:20:45.476
200624  2022-07-11 07:21:20.130  2022-07-11 07:43:08.643
200625  2022-07-11 07:23:44.727  2022-07-11 07:43:40.960
200626  2022-07-11 07:33:37.331                     None

                             t5                       t6  \
0                          None  2022-06-01 00:28:18.934
1       2022-06-01 00:56:48.871  2022-06-01 01:08:30.111
2       2022-06-01 01:06:50.953  2022-06-01 01:06:52.142
3                          None  2022-06-01 00:40:57.191
4       2022-06-01 00:59:50.136  2022-06-01 01:23:34.290
...                         ...                      ...
200622  2022-07-11 07:50:31.522  2022-07-11 08:12:03.972
200623  2022-07-11 07:31:31.721  2022-07-11 07:39:09.480
200624  2022-07-11 07:43:14.808  2022-07-11 08:06:08.703
200625  2022-07-11 07:58:36.802  2022-07-11 08:06:58.932
200626                     None  2022-07-11 07:40:38.960

                             t7
0       2022-06-01 00:53:17.876
1       2022-06-01 01:25:44.611
2       2022-06-01 01:20:48.471
3       2022-06-01 00:48:03.555
4                          None
...                         ...
200622  2022-07-11 08:29:01.763
200623  2022-07-11 08:02:15.653
200624  2022-07-11 08:13:09.447
200625  2022-07-11 08:32:28.872
200626  2022-07-11 07:54:38.570

[200627 rows x 8 columns]
                      t0                t1                       t2  \
0       11JUL22:07:13:11  11JUL22:07:18:50  2022-07-11 07:22:08.119
1       11JUL22:07:14:34  11JUL22:07:15:53  2022-07-11 07:17:08.742
2       11JUL22:07:25:15  11JUL22:07:27:35  2022-07-11 07:48:20.678
3       11JUL22:07:45:26  11JUL22:07:47:50                     None
4       11JUL22:07:55:06  11JUL22:07:57:42  2022-07-11 07:59:16.532
...                  ...               ...                      ...
200622  05JAN23:01:04:14  05JAN23:01:05:16  2023-01-05 01:08:26.402
200623  05JAN23:01:03:40  05JAN23:01:06:33  2023-01-05 01:08:40.194
200624  05JAN23:01:03:40  05JAN23:01:06:33  2023-01-05 01:08:15.852
200625  05JAN23:01:12:59  05JAN23:01:14:45  2023-01-05 01:17:41.371
200626  05JAN23:01:14:14  05JAN23:01:15:24  2023-01-05 01:19:58.007

                             t3                       t4  \
0       2022-07-11 07:28:57.144  2022-07-11 07:45:22.173
1       2022-07-11 07:29:44.622  2022-07-11 07:41:28.712
2       2022-07-11 07:48:21.816  2022-07-11 07:52:23.829
3                          None                     None
4       2022-07-11 08:07:27.738  2022-07-11 08:37:04.903
...                         ...                      ...
200622  2023-01-05 01:12:39.404  2023-01-05 01:17:52.820
200623  2023-01-05 01:15:05.927  2023-01-05 01:39:50.156
200624  2023-01-05 01:15:05.783  2023-01-05 01:25:55.517
200625  2023-01-05 01:23:21.449  2023-01-05 01:38:40.676
200626                     None                     None

                             t5                       t6  \
0       2022-07-11 08:07:54.768  2022-07-11 08:36:55.435
1       2022-07-11 07:57:43.712  2022-07-11 08:13:43.882
2                          None                     None
3                          None                     None
4       2022-07-11 08:43:28.982  2022-07-11 08:57:17.163
...                         ...                      ...
200622  2023-01-05 01:20:03.729  2023-01-05 01:26:43.229
200623  2023-01-05 01:40:32.079  2023-01-05 02:16:19.238
200624  2023-01-05 01:39:24.322                     None
200625  2023-01-05 01:44:17.804  2023-01-05 01:55:18.746
200626                     None  2023-01-05 02:12:35.300

                             t7
0       2022-07-11 09:07:44.134
1       2022-07-11 08:16:46.852
2       2022-07-11 09:55:32.359
3       2022-07-11 17:51:31.334
4       2022-07-11 09:18:02.762
...                         ...
200622  2023-01-05 01:33:02.546
200623  2023-01-05 02:25:53.991
200624  2023-01-05 01:39:40.532
200625  2023-01-05 02:23:03.680
200626  2023-01-05 02:15:07.793

[200627 rows x 8 columns]
                      t0                t1                       t2  \
0       05JAN23:01:18:27  05JAN23:01:20:35  2023-01-05 01:22:58.369
1       05JAN23:01:20:59  05JAN23:01:22:13  2023-01-05 01:23:02.798
2       05JAN23:01:34:07  05JAN23:01:36:05  2023-01-05 01:39:20.636
3       05JAN23:01:33:32  05JAN23:01:37:23  2023-01-05 01:41:30.735
4       05JAN23:01:42:33  05JAN23:01:44:33  2023-01-05 01:48:31.662
...                  ...               ...                      ...
200622  31MAY23:22:39:45  31MAY23:22:44:33                     None
200623  31MAY23:22:50:56  31MAY23:22:52:38                     None
200624  31MAY23:23:00:15  31MAY23:23:02:37                     None
200625  31MAY23:23:41:10  31MAY23:23:44:47                     None
200626  31MAY23:23:47:52  31MAY23:23:49:37                     None

                             t3                       t4  \
0       2023-01-05 01:26:06.798                     None
1       2023-01-05 01:28:53.947                     None
2       2023-01-05 01:44:38.018  2023-01-05 01:49:30.303
3       2023-01-05 01:47:22.982                     None
4       2023-01-05 01:55:18.586  2023-01-05 02:05:59.829
...                         ...                      ...
200622                     None                     None
200623                     None                     None
200624                     None                     None
200625                     None                     None
200626                     None                     None

                             t5                       t6  \
0                          None  2023-01-05 01:45:51.789
1                          None  2023-01-05 01:45:25.279
2       2023-01-05 01:54:36.206  2023-01-05 02:08:45.980
3                          None  2023-01-05 02:03:42.469
4       2023-01-05 02:10:11.140  2023-01-05 02:23:53.379
...                         ...                      ...
200622                     None                     None
200623                     None                     None
200624                     None                     None
200625                     None                     None
200626                     None                     None

                             t7
0       2023-01-05 01:49:10.253
1       2023-01-05 03:01:42.012
2       2023-01-05 02:26:12.779
3       2023-01-05 02:08:21.270
4       2023-01-05 02:32:04.849
...                         ...
200622                     None
200623                     None
200624                     None
200625                     None
200626                     None

[200627 rows x 8 columns]
                             t0                t1                       t2  \
0       2022-06-01 00:12:50.000  01JUN22:00:14:32  2022-06-01 00:16:56.000
1       2022-06-01 00:11:02.000  01JUN22:00:15:09  2022-06-01 00:18:12.000
2       2022-07-14 16:54:37.000  01JUN22:01:07:46  2022-06-01 01:11:48.000
3       2022-07-14 16:54:37.000  01JUN22:01:10:19  2022-06-01 01:11:48.000
4       2022-06-01 01:14:59.000  01JUN22:01:17:29  2022-06-01 01:24:25.000
...                         ...               ...                      ...
289396                     None  06JUL22:18:40:51                     None
289397                     None  06JUL22:19:08:28                     None
289398                     None  06JUL22:19:20:02                     None
289399                     None  07JUL22:12:57:39                     None
289400                     None  16AUG22:10:22:18                     None

                             t3                       t4  \
0       2022-06-01 00:24:46.000  2022-06-01 00:35:52.000
1       2022-06-01 00:22:34.000  2022-06-01 00:35:33.000
2       2022-06-01 01:17:45.000  2022-06-01 01:47:37.000
3       2022-06-01 01:17:45.000  2022-06-01 01:47:37.000
4       2022-06-01 01:31:13.000  2022-06-01 01:44:03.000
...                         ...                      ...
289396  2022-07-06 18:40:52.000                     None
289397  2022-07-06 19:08:28.000                     None
289398  2022-07-06 19:20:02.000                     None
289399  2022-07-07 12:57:39.000                     None
289400  2022-08-16 10:22:18.000                     None

                             t5                       t6  \
0       2022-06-01 00:46:30.000  2022-06-01 00:57:15.000
1       2022-06-01 00:43:14.000  2022-06-01 00:49:39.000
2       2022-06-01 02:36:49.000  2022-06-01 02:36:54.000
3       2022-06-01 02:36:49.000  2022-06-01 02:36:54.000
4                          None                     None
...                         ...                      ...
289396                     None                     None
289397                     None                     None
289398                     None                     None
289399                     None                     None
289400                     None                     None

                             t7
0                          None
1                          None
2       2022-06-01 01:10:17.000
3       2022-06-01 01:10:17.000
4       2022-06-01 01:17:25.000
...                         ...
289396                     None
289397                     None
289398                     None
289399                     None
289400                     None

[289401 rows x 8 columns]

In [80]:
# Define the correct date format strings
date_format_1 = "%d%b%y:%H:%M:%S"
date_format_2 = "%Y-%m-%d %H:%M:%S.%f"

# Define datasets and their corresponding date columns
datasets = {
    'df_interventions_bxl': ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7'],
    'df_interventions_bxl2': ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7'],
    'df_interventions1': ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7'],
    'df_interventions2': ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7'],
    'df_interventions3': ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7'],
    'df_cad9': ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7']
}

# Apply the correct format string to each date column for each dataset
for dataset_name, date_cols in datasets.items():
    dataset = globals()[dataset_name]  # Get the dataset using its name
    for column in date_cols:
        try:
            dataset[column] = pd.to_datetime(dataset[column], utc=True, format=date_format_2).dt.strftime(date_format_2)
        except ValueError:
            dataset[column] = pd.to_datetime(dataset[column], utc=True, format=date_format_1).dt.strftime(date_format_2)

In [81]:
import pandas as pd

# Define the desired date format
date_format_2 = "%Y-%m-%d %H:%M:%S.%f"

# Columns for which to add Hour, Day, Month, Name of the Day column
date_columns_extra = ['t0', 't7']

# Apply the function to each dataset and column
for dataset in all_interventions:
    for column in date_columns_extra:
        dataset[column] = pd.to_datetime(dataset[column], utc=True)
        dataset[f'{column}_Hour'] = dataset[column].dt.hour
        dataset[f'{column}_Day'] = dataset[column].dt.day
        dataset[f'{column}_Month'] = dataset[column].dt.month
        dataset[f'{column}_Year'] = dataset[column].dt.year
        dataset[f'{column}_DayName'] = dataset[column].dt.day_name()
        # Convert datetime column to desired format
        dataset[column] = dataset[column].dt.strftime(date_format_2)

# Example usage:
for dataset in all_interventions:
    print(dataset)

         mission_id                          service_name  \
0       20222490011         FB PDS BRUX [PASI CitÈ] SIAMU
1       20222490011         FB PDS BRUX [PASI CitÈ] SIAMU
2       20222490012              HB UR BRUX CHU St Pierre
3       20222490015         FB PDS BRUX [PASI CitÈ] SIAMU
4       20222490019          FB PDS WOLL [PASI UCL] SIAMU
...             ...                                   ...
115642  20231510397         FB PDS BRUX [PASI CitÈ] SIAMU
115643  20231510397         FB PDS BRUX [PASI CitÈ] SIAMU
115644  20231510399   FB PDS ANDE [PASI Anderlecht] SIAMU
115645  20231510399   FB PDS ANDE [PASI Anderlecht] SIAMU
115646  20231510400  FB PDS BRUX [Caserne HÈliport] SIAMU

        postalcode_permanence                          cityname_permanence  \
0                        1000                            Brussel (Brussel)
1                        1000                            Brussel (Brussel)
2                        1000                            Brussel (Brussel)
3                        1000                            Brussel (Brussel)
4                        1200  Woluwe-Saint-Lambert (Woluwe-Saint-Lambert)
...                       ...                                          ...
115642                   1000                            Brussel (Brussel)
115643                   1000                            Brussel (Brussel)
115644                   1070                                   Anderlecht
115645                   1070                                   Anderlecht
115646                   1000                        Bruxelles (Bruxelles)

                      streetname_permanence housenumber_permanence  \
0                            Vesaliusstraat                   None
1                            Vesaliusstraat                   None
2                                 Rue Haute                   None
3                            Vesaliusstraat                   None
4       Avenue Hippocrate - Hippokrateslaan                   None
...                                     ...                    ...
115642                       Vesaliusstraat                   None
115643                       Vesaliusstraat                   None
115644                    Bergense Steenweg                   None
115645                    Bergense Steenweg                   None
115646                 Avenue de l'HÈliport                   None

        latitude_permanence  longitude_permanence permanence_short_name  \
0                   5085097                436411             ABBRUX11A
1                   5085097                436411             ABBRUX03A
2                 508343302              43454504             ABBRUX06A
3                   5085097                436411             ABBRUX03A
4                   5085211                 44604             ABWOLL01A
...                     ...                   ...                   ...
115642              5085097                436411             ABBRUX10A
115643              5085097                436411             ABBRUX11A
115644              5083254                431199             ABANDE01A
115645              5083254                431199             ABANDE04A
115646              5085946                435181             ABBRUX04A

       permanence_long_name  ... t0_Hour t0_Day t0_Month t0_Year t0_DayName  \
0                AMB CITE 2  ...       9      6        9    2022    Tuesday
1                AMB HELI 3  ...       9      6        9    2022    Tuesday
2                 AMB HSP 1  ...       9      6        9    2022    Tuesday
3                AMB HELI 3  ...      10      6        9    2022    Tuesday
4                 AMB UCL 1  ...      11      6        9    2022    Tuesday
...                     ...  ...     ...    ...      ...     ...        ...
115642           AMB CITE 1  ...      21     31        5    2023  Wednesday
115643           AMB CITE 2  ...      21     31        5    2023  Wednesday
115644            AMB AND 1  ...      21     31        5    2023  Wednesday
115645            AMB AND 4  ...      21     31        5    2023  Wednesday
115646           AMB HELI 4  ...      21     31        5    2023  Wednesday

        t7_Hour t7_Day  t7_Month  t7_Year t7_DayName
0           9.0    6.0       9.0   2022.0    Tuesday
1          10.0    6.0       9.0   2022.0    Tuesday
2           9.0    6.0       9.0   2022.0    Tuesday
3          11.0    6.0       9.0   2022.0    Tuesday
4          11.0    6.0       9.0   2022.0    Tuesday
...         ...    ...       ...      ...        ...
115642     21.0   31.0       5.0   2023.0  Wednesday
115643     21.0   31.0       5.0   2023.0  Wednesday
115644     21.0   31.0       5.0   2023.0  Wednesday
115645     22.0   31.0       5.0   2023.0  Wednesday
115646     22.0   31.0       5.0   2023.0  Wednesday

[115645 rows x 53 columns]
        mission_id                          t0  \
0      20221520003  2022-06-01 00:02:45.000000
1      20221520005  2022-06-01 00:04:58.000000
2      20221520006  2022-06-01 00:07:43.000000
3      20221520006  2022-06-01 00:07:43.000000
4      20221520007  2022-06-01 00:09:18.000000
...            ...                         ...
38615  20222495211  2022-09-06 14:02:31.000000
38616  20222495213  2022-09-06 14:11:22.000000
38617  20222495214  2022-09-06 14:11:47.000000
38618  20222495214  2022-09-06 14:11:47.000000
38619  20222495215  2022-09-06 14:13:51.000000

                               cityname_intervention  longitude_intervention  \
0                            schaerbeek (schaerbeek)            4.406731e+10
1                            schaerbeek (schaerbeek)            4.368798e+10
2                            koekelberg (koekelberg)            4.332312e+10
3                            koekelberg (koekelberg)            4.332312e+10
4                            schaerbeek (schaerbeek)            4.383695e+10
...                                              ...                     ...
38615  saint-josse-ten-noode (saint-josse-ten-noode)            4.369210e+10
38616                        anderlecht (anderlecht)            4.302817e+10
38617                                  uccle (uccle)            4.339438e+10
38618                                  uccle (uccle)            4.339438e+10
38619                          bruxelles (bruxelles)            4.389640e+10

       latitude_intervention  number_of_transported_persons  \
0               5.085516e+10                            NaN
1               5.086318e+10                            1.0
2               5.085755e+10                            1.0
3               5.085755e+10                            NaN
4               5.085225e+10                            NaN
...                      ...                            ...
38615           5.085144e+10                            NaN
38616           5.083399e+10                            NaN
38617           5.081487e+10                            1.0
38618           5.081487e+10                            NaN
38619           5.084106e+10                            1.0

      permanence_long_name permanence_short_name        service_name  \
0              ZW STMICHEL            A-STMICHEL     ST-MICHEL (MED)
1                 ZW CITE2                A-CIT2          CITE (MED)
2                 ZW2 STAF                 A-EM2      Heliport (MED)
3                MUG HSP 1                 M-HSP           HSP (MED)
4                 ZW CITE1                A-CIT1          CITE (MED)
...                    ...                   ...                 ...
38615           MUG STJEAN                  M-SJ        STJEAN (MED)
38616              ZW AND4                A-AND4    Anderlecht (MED)
38617         ZW ELISABETH                 A-ELI  St-Elisabeth (MED)
38618            MUG HSP 1                 M-HSP           HSP (MED)
38619             ZW CITE1                A-CIT1          CITE (MED)

                cityname_permanence  ... t0_Hour  t0_Day  t0_Month  t0_Year  \
0        1040 etterbeek (etterbeek)  ...       0       1         6     2022
1            1000 brussel (brussel)  ...       0       1         6     2022
2            1000 brussel (brussel)  ...       0       1         6     2022
3        1000 bruxelles (bruxelles)  ...       0       1         6     2022
4            1000 brussel (brussel)  ...       0       1         6     2022
...                             ...  ...     ...     ...       ...      ...
38615        1000 brussel (brussel)  ...      14       6         9     2022
38616  1070 anderlecht (anderlecht)  ...      14       6         9     2022
38617            1180 ukkel (ukkel)  ...      14       6         9     2022
38618    1000 bruxelles (bruxelles)  ...      14       6         9     2022
38619        1000 brussel (brussel)  ...      14       6         9     2022

      t0_DayName t7_Hour t7_Day t7_Month t7_Year t7_DayName
0      Wednesday     0.0    1.0      6.0  2022.0  Wednesday
1      Wednesday     1.0    1.0      6.0  2022.0  Wednesday
2      Wednesday     NaN    NaN      NaN     NaN        NaN
3      Wednesday     NaN    NaN      NaN     NaN        NaN
4      Wednesday     0.0    1.0      6.0  2022.0  Wednesday
...          ...     ...    ...      ...     ...        ...
38615    Tuesday    14.0    6.0      9.0  2022.0    Tuesday
38616    Tuesday    15.0    6.0      9.0  2022.0    Tuesday
38617    Tuesday     NaN    NaN      NaN     NaN        NaN
38618    Tuesday     NaN    NaN      NaN     NaN        NaN
38619    Tuesday    15.0    6.0      9.0  2022.0    Tuesday

[36710 rows x 39 columns]
         mission_id                 service_name  postalcode_permanence  \
0       10221520001     HA UR MECH AZ St Maarten                 2800.0
1       10221520002               BA KAPE AMBUCE                 2950.0
2       10221520002       HA UR ANTW Stuivenberg                 2060.0
3       10221520004  BA ANTW [Borgerhout] AMBUCE                 2140.0
4       10221520005               BA WIJN AMBUCE                 2110.0
...             ...                          ...                    ...
200622  50221920082      FH PDS BEAU Hainaut Est                 6500.0
200623  50221920083            BH LOUV AS Grande                 7110.0
200624  50221920084  BH GERP SAPG Poste Loverval                 6280.0
200625  50221920085   FH PDS BINC Hainaut Centre                 7130.0
200626  50221920085        HH UR LOUV CHU Tivoli                 7100.0

                        cityname_permanence       streetname_permanence  \
0                       Mechelen (Mechelen)              Liersesteenweg
1                       Kapellen (Kapellen)             Essenhoutstraat
2                     Antwerpen (Antwerpen)      Lange Beeldekensstraat
3                    Antwerpen (Borgerhout)               Gijselsstraat
4                       Wijnegem (Wijnegem)               Bijkhoevelaan
...                                     ...                         ...
200622                  Beaumont (Beaumont)           Chauss√©e de Mons
200623  La Louvi√®re (Str√©py-Bracquegnies)             Rue de Nivelles
200624                 Gerpinnes (Loverval)  Chauss√©e de Philippeville
200625                      Binche (Binche)       Rue de la P√©pini√®re
200626          La Louvi√®re (La Louvi√®re)            Avenue Max Buset

       housenumber_permanence  latitude_permanence  longitude_permanence  \
0                        None            51.051020              4.478030
1                        None            51.312075              4.424398
2                        None            51.222490              4.436290
3                        None            51.215620              4.443920
4                        None            51.233550              4.493180
...                       ...                  ...                   ...
200622                   None            50.241870              4.234680
200623                   None            50.469758              4.128008
200624                   None            50.373360              4.467450
200625                    57A            50.415230                   NaN
200626                   None            50.477800              4.205120

       permanence_short_name permanence_long_name  ... t0_Hour t0_Day  \
0                  AAMECH01A        ZW MECHELEN 1  ...       0      1
1                  AAKAPE01A        ZW KAPELLEN 1  ...       0      1
2                  UAANTW01A      MUG ANTWERPEN 1  ...       0      1
3                  AAANTW07A       ZW ANTWERPEN 7  ...       0      1
4                  AAWIJN01A        ZW WIJNEGEM 1  ...       0      1
...                      ...                  ...  ...     ...    ...
200622             AHBEAU01A        ZS BEAUMONT 1  ...       6     11
200623             AHLOUV03A         AMB STREPY 1  ...       7     11
200624             AHGERP01A       AMB LOVERVAL 1  ...       7     11
200625             AHBINC01A          ZS BINCHE 1  ...       7     11
200626             UHLOUV02A     SMUR LOUV TIVOLI  ...       7     11

       t0_Month t0_Year t0_DayName t7_Hour t7_Day  t7_Month  t7_Year  \
0             6    2022  Wednesday     0.0    1.0       6.0   2022.0
1             6    2022  Wednesday     1.0    1.0       6.0   2022.0
2             6    2022  Wednesday     1.0    1.0       6.0   2022.0
3             6    2022  Wednesday     0.0    1.0       6.0   2022.0
4             6    2022  Wednesday     NaN    NaN       NaN      NaN
...         ...     ...        ...     ...    ...       ...      ...
200622        7    2022     Monday     8.0   11.0       7.0   2022.0
200623        7    2022     Monday     8.0   11.0       7.0   2022.0
200624        7    2022     Monday     8.0   11.0       7.0   2022.0
200625        7    2022     Monday     8.0   11.0       7.0   2022.0
200626        7    2022     Monday     7.0   11.0       7.0   2022.0

       t7_DayName
0       Wednesday
1       Wednesday
2       Wednesday
3       Wednesday
4             NaN
...           ...
200622     Monday
200623     Monday
200624     Monday
200625     Monday
200626     Monday

[200627 rows x 56 columns]
         mission_id                       service_name  postalcode_permanence  \
0       50221920087       FH PDS COMI Wallonie Picarde                 7784.0
1       50221920088       FH PDS TOUR Wallonie Picarde                 7500.0
2       50221920089         FH PDS LOUV Hainaut Centre                 7100.0
3       50221920090  FW HVP HEUV [Nieuwkerke] Westhoek                 8950.0
4       50221920092                BH SGHI Croix Rouge                 7331.0
...             ...                                ...                    ...
200622  60230050005                BG BLEG Croix Rouge                 4671.0
200623  60230050006                      BG AWAN PARAM                 4340.0
200624  60230050006           HG UR LIEG CHC Montlegia                 4000.0
200625  60230050007                BG LIEG Croix Rouge                 4000.0
200626  60230050008                BG OUPE Croix Rouge                 4680.0

                cityname_permanence              streetname_permanence  \
0       Comines-Warneton (Warneton)                  Chauss√©e d'Ypres
1                 Tournai (Tournai)                    Avenue de Maire
2       La Louvi√®re (La Louvi√®re)          Boulevard du Roi Baudouin
3           Heuvelland (Nieuwkerke)                    Dranouterstraat
4          Saint-Ghislain (Baudour)                     Rue Louis Caty
...                             ...                                ...
200622             Blegny (Barchon)                   Rue Pr√©s-Champs
200623         4342 awans (hognoul)                rue de la chauss√©e
200624               Li√®ge (Glain)  Boulevard de Patience et Beaujonc
200625              Li√®ge (Li√®ge)                        Rue Darchis
200626              Oupeye (Oupeye)                  Rue du Roi Albert

       housenumber_permanence  latitude_permanence  longitude_permanence  \
0                        None            50.760340              2.940230
1                        None            50.616520              3.375120
2                        None            50.468000              4.192170
3                        None            50.746210              2.822500
4                        None            50.469630              3.842559
...                       ...                  ...                   ...
200622                   None            50.662920              5.688700
200623                   None            50.680611              5.469060
200624                   None            50.646980              5.536010
200625                   None            50.637357              5.566551
200626                   None            50.702841              5.652668

       permanence_short_name permanence_long_name  ... t0_Hour t0_Day  \
0                  AHCOMI01A         ZS COMINES 1  ...       7     11
1                  AHTOUR01A         ZS TOURNAI 1  ...       7     11
2                  AHLOUV02A   ZS LA LOUVIERE PIM  ...       7     11
3                  AWHEUV01A        ZW NIEUWKERKE  ...       7     11
4                  AHSGHI01A  CR SAINT-GHISLAIN 1  ...       7     11
...                      ...                  ...  ...     ...    ...
200622             AGBLEG01A          CR.BLEGNY 1  ...       1      5
200623             AGAWAN01A           PR.PARAM 1  ...       1      5
200624             UGLIEG07A      SMUR MT LEGIA 1  ...       1      5
200625             AGLIEG04A           CR LIEGE 1  ...       1      5
200626             AGOUPE01A          CR.OUPEYE 1  ...       1      5

       t0_Month t0_Year t0_DayName t7_Hour t7_Day  t7_Month  t7_Year  \
0             7    2022     Monday     9.0   11.0       7.0   2022.0
1             7    2022     Monday     8.0   11.0       7.0   2022.0
2             7    2022     Monday     9.0   11.0       7.0   2022.0
3             7    2022     Monday    17.0   11.0       7.0   2022.0
4             7    2022     Monday     9.0   11.0       7.0   2022.0
...         ...     ...        ...     ...    ...       ...      ...
200622        1    2023   Thursday     1.0    5.0       1.0   2023.0
200623        1    2023   Thursday     2.0    5.0       1.0   2023.0
200624        1    2023   Thursday     1.0    5.0       1.0   2023.0
200625        1    2023   Thursday     2.0    5.0       1.0   2023.0
200626        1    2023   Thursday     2.0    5.0       1.0   2023.0

       t7_DayName
0          Monday
1          Monday
2          Monday
3          Monday
4          Monday
...           ...
200622   Thursday
200623   Thursday
200624   Thursday
200625   Thursday
200626   Thursday

[200627 rows x 56 columns]
         mission_id                        service_name  \
0       60230050009                 BG LIEG Croix Rouge
1       60230050010  FG PDS PEPI Vesdre Ho√´gne Plateau
2       60230050012                    BG LIEG Courtois
3       60230050013             FG PDS ANS_ Li√®ge IILE
4       60230050014             FG PDS FLEM Li√®ge IILE
...             ...                                 ...
200622  90231510181                    FN PDS NAMU NAGE
200623  90231510182                 FN PDS DINA DINAPHI
200624  90231510183          FF PDS TUBI Brabant Wallon
200625  90231510184                    FN PDS NAMU NAGE
200626  90231510185                 BN NAMU Croix Rouge

        postalcode_permanence          cityname_permanence  \
0                      4000.0              Li√®ge (Li√®ge)
1                      4860.0        Pepinster (Pepinster)
2                      4030.0          Li√®ge (Grivegn√©e)
3                      4000.0               li√®ge (glain)
4                      4400.0  Fl√©malle (Fl√©malle-Haute)
...                       ...                          ...
200622                 5100.0               Namur (Jambes)
200623                 5500.0              Dinant (Dinant)
200624                 1480.0              Tubize (Tubize)

In [82]:
# Iterate over each dataset
for dataset_name, dataset in zip(['df_interventions_bxl', 'df_interventions_bxl2', 'df_interventions1',
                                  'df_interventions2', 'df_interventions3', 'df_cad9'], all_interventions):
    # Initialize counters
    increasing_order_count = 0
    not_increasing_order_count = 0
    
    # Iterate over each row to compare timestamps
    for index, row in dataset.iterrows():
        # Extract timestamps from the row
        t0 = row.get('t0')
        t1 = row.get('t1')
        t2 = row.get('t2')
        t3 = row.get('t3')
        t4 = row.get('t4')
        t5 = row.get('t5')
        t6 = row.get('t6')
        t7 = row.get('t7')
        
        # Check if any timestamps are missing
        if any(map(pd.isna, [t0, t1, t2, t3, t4, t5, t6, t7])):
            continue
        
        # Check if timestamps are in increasing order
        if t0 < t1 < t2 < t3 < t4 < t5 < t6 < t7:
            increasing_order_count += 1
        else:
            not_increasing_order_count += 1
    
    # Print the result for each dataset
    print(f"{dataset_name}: Rows with consecutive timestamps in increasing order: {increasing_order_count}")
    print(f"{dataset_name}: Rows with consecutive timestamps not in increasing order: {not_increasing_order_count}")

df_interventions_bxl: Rows with consecutive timestamps in increasing order: 29161
df_interventions_bxl: Rows with consecutive timestamps not in increasing order: 1666
df_interventions_bxl2: Rows with consecutive timestamps in increasing order: 4627
df_interventions_bxl2: Rows with consecutive timestamps not in increasing order: 2074
df_interventions1: Rows with consecutive timestamps in increasing order: 70347
df_interventions1: Rows with consecutive timestamps not in increasing order: 902
df_interventions2: Rows with consecutive timestamps in increasing order: 71788
df_interventions2: Rows with consecutive timestamps not in increasing order: 816
df_interventions3: Rows with consecutive timestamps in increasing order: 73249
df_interventions3: Rows with consecutive timestamps not in increasing order: 954
df_cad9: Rows with consecutive timestamps in increasing order: 2
df_cad9: Rows with consecutive timestamps not in increasing order: 41510

In [83]:
# Iterate over each dataset
for dataset_name, dataset in zip(['df_interventions_bxl', 'df_interventions_bxl2', 'df_interventions1',
                                  'df_interventions2', 'df_interventions3', 'df_cad9'], all_interventions):
    # Initialize counter for removed values
    removed_values = 0
    
    # Flag to indicate whether any change has been made
    change_made = True
    
    # Continue iterating until no further changes are made
    while change_made:
        change_made = False  # Reset change flag at the beginning of each iteration
        
        # Iterate over each row to compare timestamps
        for index, row in dataset.iterrows():
            # Extract timestamps from the row
            t0 = row.get('t0')
            t1 = row.get('t1')
            t2 = row.get('t2')
            t3 = row.get('t3')
            t4 = row.get('t4')
            t5 = row.get('t5')
            t6 = row.get('t6')
            t7 = row.get('t7')
            
            # Check if any timestamps are missing
            if any(map(pd.isna, [t0, t1, t2, t3, t4, t5, t6, t7])):
                continue
            
            # Check if timestamps are in increasing order
            timestamps = [t1, t2, t3, t4, t5, t6, t7]
            first_non_increasing = None
            for i, t in enumerate(timestamps):
                if t0 >= t:
                    first_non_increasing = i + 1  # Add 1 because we start from t1
                    break
            
            if first_non_increasing is not None:
                # Remove the value causing the issue
                dataset.at[index, f"t{first_non_increasing}"] = None
                removed_values += 1
                change_made = True  # Set flag to indicate change
                
    # Print the result for each dataset after removal
    print(f"{dataset_name}: Removed {removed_values} values to restore consecutive timestamps")

df_interventions_bxl: Removed 4 values to restore consecutive timestamps
df_interventions_bxl2: Removed 67 values to restore consecutive timestamps
df_interventions1: Removed 21 values to restore consecutive timestamps
df_interventions2: Removed 12 values to restore consecutive timestamps
df_interventions3: Removed 19 values to restore consecutive timestamps
df_cad9: Removed 167 values to restore consecutive timestamps

In [84]:
# Define the boundaries of Belgium
belgium_longitude_range = (2.5, 6.3)
belgium_latitude_range = (49.5, 51.5)

# Define a function to check if coordinates are within the Belgium boundaries
def is_within_belgium(longitude, latitude):
    return belgium_longitude_range[0] <= longitude <= belgium_longitude_range[1] and \
           belgium_latitude_range[0] <= latitude <= belgium_latitude_range[1]

# Check longitude and latitude in each dataset
for dataset_name, dataset in zip(['df_interventions_bxl', 'df_interventions_bxl2', 'df_interventions1',
                                  'df_interventions2', 'df_interventions3', 'df_cad9'], all_interventions):
    # Initialize counters for coordinates inside and outside Belgium for intervention and permanence
    inside_intervention_count = 0
    outside_intervention_count = 0
    inside_permanence_count = 0
    outside_permanence_count = 0
    nan_count_intervention = 0
    nan_count_permanence = 0
    
    # Check if longitude and latitude are within Belgium boundaries for intervention
    for _, row in dataset.iterrows():
        if pd.isna(row['longitude_intervention']) or pd.isna(row['latitude_intervention']):
            nan_count_intervention += 1
        elif is_within_belgium(row['longitude_intervention'], row['latitude_intervention']):
            inside_intervention_count += 1
        else:
            outside_intervention_count += 1
    
    # Check if longitude and latitude are within Belgium boundaries for permanence
    for _, row in dataset.iterrows():
        if pd.isna(row['longitude_permanence']) or pd.isna(row['latitude_permanence']):
            nan_count_permanence += 1
        elif is_within_belgium(row['longitude_permanence'], row['latitude_permanence']):
            inside_permanence_count += 1
        else:
            outside_permanence_count += 1
    
    # Print the result for each dataset
    print(f"{dataset_name}: Intervention - Inside Belgium: {inside_intervention_count}, Outside Belgium: {outside_intervention_count}, NaNs: {nan_count_intervention}")
    print(f"{dataset_name}: Permanence - Inside Belgium: {inside_permanence_count}, Outside Belgium: {outside_permanence_count}, NaNs: {nan_count_permanence}")

df_interventions_bxl: Intervention - Inside Belgium: 0, Outside Belgium: 115645, NaNs: 0
df_interventions_bxl: Permanence - Inside Belgium: 0, Outside Belgium: 115645, NaNs: 0
df_interventions_bxl2: Intervention - Inside Belgium: 0, Outside Belgium: 36700, NaNs: 10
df_interventions_bxl2: Permanence - Inside Belgium: 0, Outside Belgium: 19301, NaNs: 17409
df_interventions1: Intervention - Inside Belgium: 167165, Outside Belgium: 3124, NaNs: 30338
df_interventions1: Permanence - Inside Belgium: 166719, Outside Belgium: 1845, NaNs: 32063
df_interventions2: Intervention - Inside Belgium: 176437, Outside Belgium: 2721, NaNs: 21469
df_interventions2: Permanence - Inside Belgium: 173871, Outside Belgium: 2935, NaNs: 23821
df_interventions3: Intervention - Inside Belgium: 157142, Outside Belgium: 4330, NaNs: 39155
df_interventions3: Permanence - Inside Belgium: 156968, Outside Belgium: 2055, NaNs: 41604
df_cad9: Intervention - Inside Belgium: 289389, Outside Belgium: 11, NaNs: 1
df_cad9: Permanence - Inside Belgium: 233726, Outside Belgium: 0, NaNs: 55675

In [85]:
# Check format
#df_interventions_bxl.longitude_intervention
#df_interventions_bxl.latitude_intervention
#df_interventions_bxl.longitude_permanence
#df_interventions_bxl.latitude_permanence
#df_interventions_bxl2.longitude_intervention
#df_interventions_bxl2.latitude_intervention
#df_interventions_bxl2.longitude_permanence
#df_interventions_bxl2.latitude_permanence
#df_interventions3.longitude_intervention
#df_interventions3.latitude_intervention
#df_interventions3.longitude_permanence
#df_interventions3.latitude_permanence

In [86]:
#Function to convert longitude and latitude within the ranges of Belgium
def loc_convert(l, max_l):
    while l > max_l:
        l /= 10
    return l

# Define the latitude and longitude ranges of Belgium
belgium_longitude_range = (2.5, 6.3)
belgium_latitude_range = (49.5, 51.5)

# Adjust mislabelled lat/lon values and remove values outside the range for each DataFrame
for dataset in all_interventions:
    for col in ['longitude_intervention', 'latitude_intervention', 'longitude_permanence', 'latitude_permanence']:
        dataset[col] = dataset[col].apply(loc_convert, args=(belgium_longitude_range[1],) if 'longitude' in col else (belgium_latitude_range[1],))
        dataset[col] = dataset[col].where((dataset[col] >= belgium_longitude_range[0]) & (dataset[col] <= belgium_longitude_range[1]) if 'longitude' in col else (dataset[col] >= belgium_latitude_range[0]) & (dataset[col] <= belgium_latitude_range[1]), np.nan)

In [87]:
# Define the country codes to be removed
country_codes = ['NLD', 'DEU', 'FRA', 'LUX']

# Iterate over each DataFrame in all_interventions
for dataset in all_interventions:
    # Create a boolean mask for rows where cityname_intervention starts with any of the country codes
    mask = dataset['cityname_intervention'].str.startswith(tuple(country_codes), na=False)
    # Remove the rows where the mask is True
    dataset = dataset[~mask]

In [88]:
# Merge all datasets into one
interventions_dataset = pd.concat(all_interventions, ignore_index=True)

In [89]:
# Remove non-numeric characters
interventions_dataset['housenumber_permanence'] = interventions_dataset['housenumber_permanence'].str.extract('(\d+)')
interventions_dataset['postalcode_intervention'] = interventions_dataset['postalcode_intervention'].str.extract('(\d+)')
interventions_dataset['postalcode_destination_hospital'] = interventions_dataset['postalcode_destination_hospital'].str.extract('(\d+)')
interventions_dataset['housenumber_destination_hospital'] = interventions_dataset['housenumber_destination_hospital'].str.extract('(\d+)')

In [90]:
# Get unique column names across all datasets
all_columns = set().union(*(dataset.columns for dataset in all_interventions))

# Count occurrences of each column across datasets
column_count = {column: sum(column in dataset.columns for dataset in all_interventions) for column in all_columns}

# Print column counts
for column, count in sorted(column_count.items(), key=lambda x: x[1], reverse=True):
    print(f"{column}: {count} datasets")

t6: 6 datasets
t0_Month: 6 datasets
eventlevel_trip: 6 datasets
t7_Hour: 6 datasets
latitude_permanence: 6 datasets
t7_Day: 6 datasets
cityname_intervention: 6 datasets
t7_Year: 6 datasets
t0_Day: 6 datasets
t3: 6 datasets
longitude_permanence: 6 datasets
t7_DayName: 6 datasets
t7: 6 datasets
t0_Year: 6 datasets
service_name: 6 datasets
t4: 6 datasets
t5: 6 datasets
t2: 6 datasets
t7_Month: 6 datasets
vector_type: 6 datasets
name_destination_hospital: 6 datasets
permanence_long_name: 6 datasets
permanence_short_name: 6 datasets
mission_id: 6 datasets
t0: 6 datasets
t0_DayName: 6 datasets
t1: 6 datasets
eventtype_trip: 6 datasets
longitude_intervention: 6 datasets
t0_Hour: 6 datasets
latitude_intervention: 6 datasets
departure_time_(t1reported): 5 datasets
intervention_time_(t1reported): 5 datasets
housenumber_destination_hospital: 5 datasets
number_of_transported_persons: 5 datasets
streetname_permanence: 5 datasets
cityname_destination_hospital: 5 datasets
abandon_reason: 5 datasets
streetname_destination_hospital: 5 datasets
t1confirmed: 5 datasets
cityname_permanence: 5 datasets
housenumber_permanence: 5 datasets
postalcode_intervention: 4 datasets
intervention_time_(t1confirmed): 4 datasets
postalcode_destination_hospital: 4 datasets
waiting_time: 4 datasets
unavailable_time: 4 datasets
calculated_traveltime_destinatio: 4 datasets
intervention_duration: 4 datasets
eventtype_firstcall: 4 datasets
calculated_distance_destination: 4 datasets
postalcode_permanence: 4 datasets
eventlevel_firstcall: 4 datasets
departure_time_(t1confirmed): 4 datasets
t9: 4 datasets
province_intervention: 4 datasets

In [91]:
# Save data sets as a Parquet file
df_interventions_bxl.to_parquet('../../1_Data/CLEANED/df_interventions_bxl.parquet')
df_interventions_bxl2.to_parquet('../../1_Data/CLEANED/df_interventions_bxl2.parquet')
df_interventions1.to_parquet('../../1_Data/CLEANED/df_interventions1.parquet')
df_interventions2.to_parquet('../../1_Data/CLEANED/df_interventions2.parquet')
df_interventions3.to_parquet('../../1_Data/CLEANED/df_interventions3.parquet')
df_cad9.to_parquet('../../1_Data/CLEANED/df_cad9.parquet')
interventions_dataset.to_parquet('../../1_Data/CLEANED/interventions_dataset.parquet')

In [96]:
# Filter subset on eventtype_trip = P003 (Cardiac arrest)
subset_cardiac = interventions_dataset[interventions_dataset['eventtype_trip'].isin(['P003 - Cardiac arrest'])]

In [97]:
#Save subset
subset_cardiac.to_parquet('../../1_Data/CLEANED/subset_cardiac.parquet')