Notebook with the preprocessing steps of the interventions data

In [61]:
import pandas as pd
import numpy as np

In [62]:
# METHOD 1: LOAD DATA FROM FOLDER -> see load_data.ipynb for other methods
# Path to your Parquet gzip file
file_path_1 = '../../1_Data/Medical_transport/ambulance_locations.parquet.gzip'
file_path_2 = '../../1_Data/Medical_transport/pit_locations.parquet.gzip'
file_path_3 = '../../1_Data/Medical_transport/mug_locations.parquet.gzip'
file_path_4 = '../../1_Data/AED_locations/aed_locations.parquet.gzip'
file_path_5 = '../../1_Data/Interventions_data/interventions_bxl.parquet.gzip'
file_path_6 = '../../1_Data/Interventions_data/interventions_bxl2.parquet.gzip'
file_path_7 = '../../1_Data/Interventions_data/interventions1.parquet.gzip'
file_path_8 = '../../1_Data/Interventions_data/interventions2.parquet.gzip'
file_path_9 = '../../1_Data/Interventions_data/interventions3.parquet.gzip'
file_path_10 = '../../1_Data/Interventions_data/cad9.parquet.gzip'

# Read the Parquet file into a pandas DataFrame
df_ambulance_locations = pd.read_parquet(file_path_1, engine='pyarrow')
df_pit_locations = pd.read_parquet(file_path_2, engine='pyarrow')
df_mug_locations = pd.read_parquet(file_path_3, engine='pyarrow')
df_aed_locations = pd.read_parquet(file_path_4, engine='pyarrow')
df_interventions_bxl = pd.read_parquet(file_path_5, engine='pyarrow')
df_interventions_bxl2 = pd.read_parquet(file_path_6, engine='pyarrow')
df_interventions1 = pd.read_parquet(file_path_7, engine='pyarrow')
df_interventions2 = pd.read_parquet(file_path_8, engine='pyarrow')
df_interventions3 = pd.read_parquet(file_path_9, engine='pyarrow')
df_cad9 = pd.read_parquet(file_path_10, engine='pyarrow')

In [63]:
# LOCATIONS: Print data set + data type of each variable + values of specific columns

#print(df_ambulance_locations)
#print(df_ambulance_locations.dtypes)
#print(df_ambulance_locations.departure_location)

#print(df_pit_locations)
#print(df_pit_locations.dtypes)
#print(df_pit_locations['campus'].unique())

#print(df_mug_locations)
#print(df_mug_locations.dtypes)
#print(df_mug_locations.name_hospital)
#print(df_mug_locations.address_campus)

#print(df_aed_locations)
#print(df_aed_locations.dtypes)
#print(df_aed_locations['address'].unique())

In [64]:
# INTERVENTIONS: Print data set + data type of each variable + values of specific columns

#print(df_interventions_bxl)
#print(df_interventions_bxl.dtypes)
#print(df_interventions_bxl.postalcode_permanence)
#print(df_interventions_bxl.t0)

#print(df_interventions_bxl2)
#print(df_interventions_bxl2.dtypes)
#print(df_interventions_bxl2['EventType and EventLevel'].unique())
#print(df_interventions_bxl2['EventType'].unique())
#print(df_interventions_bxl2['eventlevel_trip'].unique())
#print(df_interventions_bxl2.T0)

#print(df_interventions1)
#print(df_interventions1.dtypes)
#print(df_interventions1.T0)

#print(df_interventions2)
#print(df_interventions2.dtypes)
#print(df_interventions2.T0)

#print(df_interventions3)
#print(df_interventions3.dtypes)
#print(df_interventions3.T0)

#print(df_combined)
#print(df_combined.dtypes)
#print(df_combined.T0)
#print(combined_df['Vector type'].unique())
#print(combined_df['EventType Firstcall'].unique())
#print(combined_df['EventLevel Firstcall'].unique())
#print(combined_df['Abandon reason'].unique())

#print(df_cad9)
#print(df_cad9.dtypes)
#print(df_cad9.T0)

#print(df_interventions1)

In [65]:
# Define your dataset
all_datasets = [df_ambulance_locations, df_pit_locations, df_mug_locations, df_aed_locations, df_interventions_bxl, df_interventions_bxl2, df_interventions1, df_interventions2, df_interventions3, df_cad9]
all_interventions = [df_interventions_bxl, df_interventions_bxl2, df_interventions1, df_interventions2, df_interventions3, df_cad9]

In [66]:
# Check non-null counts of each dataset
#for df in all_datasets: df.info()

In [67]:
# Iterate over each dataset and remove duplicate rows
for i, dataset in enumerate(all_datasets, start=1):
    print(f"Original size of Dataset {i}: {len(dataset)}")
    dataset.drop_duplicates(inplace=True)
    print(f"Size of Dataset {i} after removing duplicates: {len(dataset)}")
    print()

Original size of Dataset 1: 279
Size of Dataset 1 after removing duplicates: 279

Original size of Dataset 2: 24
Size of Dataset 2 after removing duplicates: 24

Original size of Dataset 3: 94
Size of Dataset 3 after removing duplicates: 94

Original size of Dataset 4: 15227
Size of Dataset 4 after removing duplicates: 15225

Original size of Dataset 5: 115647
Size of Dataset 5 after removing duplicates: 115645

Original size of Dataset 6: 38620
Size of Dataset 6 after removing duplicates: 36710

Original size of Dataset 7: 200627
Size of Dataset 7 after removing duplicates: 200627

Original size of Dataset 8: 200627
Size of Dataset 8 after removing duplicates: 200627

Original size of Dataset 9: 200627
Size of Dataset 9 after removing duplicates: 200627

Original size of Dataset 10: 289401
Size of Dataset 10 after removing duplicates: 289401

In [68]:
# Function to remove multiple spaces
def remove_multiple_spaces(event):
    if isinstance(event, str):
        return ' '.join(event.split())
    else:
        return event

# Apply the function to all columns of each dataset
for idx, dataset in enumerate(all_datasets):
    for column in dataset.columns:
        dataset[column] = dataset[column].apply(remove_multiple_spaces)

In [69]:
# Standardize column names
for dataset in all_interventions:
    dataset.columns = dataset.columns.str.lower().str.replace(' ', '_')

In [70]:
# List of datasets to clean
datasets_to_clean = [df_interventions_bxl, df_interventions_bxl2]

# Iterate over the datasets
for dataset in datasets_to_clean:
    # Remove columns containing 'fr' in their names
    columns_to_remove = [col for col in dataset.columns if 'fr' in col]
    dataset.drop(columns=columns_to_remove, inplace=True)
    
    # Replace 'nl' with empty strings in column names
    dataset.columns = dataset.columns.str.replace('_nl', '')

In [71]:
#Rename columns names
df_interventions_bxl.rename(columns={'intervention_time_t1reported': 'intervention_time_(t1reported)', 
                        'departure_time_t1reported': 'departure_time_(t1reported)',
                        'calculated_distance_destination_': 'calculated_distance_destination'}, inplace=True)
df_cad9.rename(columns={'province_invervention': 'province_intervention'}, inplace=True)
#Drop columns
df_interventions_bxl.drop(columns={'calculated_distance_departure_to', 'calculated_traveltime_departure_'}, inplace=True)
df_interventions_bxl2.drop(columns={'creationtime', 'description','ic_description'}, inplace=True)
df_cad9.drop(columns={'province', 'eventsubtype_trip', 'citysectionname_intervention', 'ui', 'id', 'mission_nr', 'ambucode', 'unit_id'}, inplace=True)

In [72]:
# Remove postal code from "Cityname Intervention"
# Split the 'Cityname Intervention' column by space and keep only the second part
df_interventions_bxl2['cityname_intervention'] = df_interventions_bxl2['cityname_intervention'].apply(lambda x: x.split(' ', 1)[1])

# Print the modified DataFrame
print(df_interventions_bxl2[['cityname_intervention']])

                               cityname_intervention
0                            schaerbeek (schaerbeek)
1                            schaerbeek (schaerbeek)
2                            koekelberg (koekelberg)
3                            koekelberg (koekelberg)
4                            schaerbeek (schaerbeek)
...                                              ...
38615  saint-josse-ten-noode (saint-josse-ten-noode)
38616                        anderlecht (anderlecht)
38617                                  uccle (uccle)
38618                                  uccle (uccle)
38619                          bruxelles (bruxelles)

[36710 rows x 1 columns]

In [73]:
# Define a function to extract EventType and EventLevel
def extract_event_info(event):
    if isinstance(event, str):
        parts = event.split()
        event_type = parts[0]
        event_level = parts[1] if len(parts) > 1 else None
        return event_type, event_level
    else:
        return None, None

# Apply the function to create EventType and EventLevel columns
df_interventions_bxl2[['eventtype_trip', 'eventlevel_trip']] = df_interventions_bxl2['eventtype_and_eventlevel'].apply(lambda x: pd.Series(extract_event_info(x)))

# Drop the original "EventType and EventLevel" column if needed
df_interventions_bxl2.drop(columns=['eventtype_and_eventlevel'], inplace=True)

# Print the first few rows to verify
print(df_interventions_bxl2[['eventtype_trip', 'eventlevel_trip']].head())

  eventtype_trip eventlevel_trip
0           P033             N05
1           P032             N05
2           P010             N01
3           P010             N01
4           P039             N05

In [74]:
# Assuming the "EventType Trip" column contains strings
df_cad9['eventtype_trip'] = df_cad9['eventtype_trip'].str.split(' ').str[0]

# Print the first few rows to verify the changes
print(df_cad9[['eventtype_trip']].head())

  eventtype_trip
0           P034
1           P010
2           Y_TI
3           Y_TI
4           P020

In [75]:
def update_event_type(dataset_to_update, reference_datasets):
    # Create a dictionary to map the original eventtype_trip values to the new ones
    eventtype_mapping = {}
    for ref_dataset in reference_datasets:
        for event_trip in ref_dataset['eventtype_trip'].dropna().unique():
            key = event_trip.split(' - ')[0]
            eventtype_mapping[key] = event_trip
    
    # Update the eventtype_trip values in dataset_to_update
    dataset_to_update.loc[:, 'eventtype_trip'] = dataset_to_update['eventtype_trip'].apply(lambda x: eventtype_mapping.get(x, x))

# Create a list of reference datasets in the desired order
reference_datasets = [df_interventions_bxl, df_interventions1, df_interventions2, df_interventions3]

# Apply the function to df_interventions_bxl2 using the list of reference datasets
update_event_type(df_interventions_bxl2, reference_datasets)

# Apply the function to df_cad9 using the list of reference datasets
update_event_type(df_cad9, reference_datasets)

# Print the first few rows to verify
print(df_interventions_bxl2[['eventtype_trip']].head())
print(df_cad9[['eventtype_trip']].head())

                                      eventtype_trip
0                                      P033 - Trauma
1                          P032 - Allergic reactions
2                        P010 - Respiratory problems
3                        P010 - Respiratory problems
4  P039 - Cardiac problem (other than thoracic pain)
                eventtype_trip
0          P034 - Skull trauma
1  P010 - Respiratory problems
2                         Y_TI
3                         Y_TI
4  P020 - Intoxication alcohol

In [76]:
# Show values
#print(df_interventions_bxl2['eventtype_trip'].unique())

In [77]:
# Define the mapping for standardizing the format
format_mapping = {'N05': 'N5', 'N01': 'N1', 'N03': 'N3', 'N04': 'N4', 'N02': 'N2', 'N07': 'N7', 'N06': 'N6', 'N08': 'N8'}

# Replace the values in the eventlevel_trip column using the mapping
df_interventions_bxl2['eventlevel_trip'] = df_interventions_bxl2['eventlevel_trip'].replace(format_mapping)

In [78]:
# Define the regex pattern to match values not in the specified list
#pattern = r'^(?!(N[0-8]|Interventieplan)$).*$'

# Replace values not in the specified list with NaN
#df_cad9['eventlevel_trip'] = df_cad9['eventlevel_trip'].replace(to_replace=pattern, value=np.nan, regex=True)

In [79]:
# Select columns
columns_to_show = ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7']
selected_columns_1 = df_interventions_bxl[columns_to_show]
selected_columns_2 = df_interventions_bxl2[columns_to_show]
selected_columns_3 = df_interventions1[columns_to_show]
selected_columns_4 = df_interventions2[columns_to_show]
selected_columns_5 = df_interventions3[columns_to_show]
selected_columns_6 = df_cad9[columns_to_show]

# Show the selected columns
print(selected_columns_1)
print(selected_columns_2)
print(selected_columns_3)
print(selected_columns_4)
print(selected_columns_5)
print(selected_columns_6)

                                        t0  \
0       2022-09-06 11:49:21.5868598 +02:00
1       2022-09-06 11:49:21.5868598 +02:00
2       2022-09-06 11:55:35.7936791 +02:00
3       2022-09-06 12:39:23.4337324 +02:00
4       2022-09-06 13:26:48.3379147 +02:00
...                                    ...
115642  2023-05-31 23:33:23.8187792 +02:00
115643  2023-05-31 23:33:23.8187792 +02:00
115644  2023-05-31 23:41:50.1818455 +02:00
115645  2023-05-31 23:41:50.1818455 +02:00
115646  2023-05-31 23:42:36.3935358 +02:00

                                        t1  \
0       2022-09-06 09:51:01.8972360 +00:00
1       2022-09-06 09:53:01.0232493 +00:00
2       2022-09-06 09:57:49.5158049 +00:00
3       2022-09-06 10:42:31.1121581 +00:00
4       2022-09-06 11:29:34.8646697 +00:00
...                                    ...
115642  2023-05-31 21:35:03.4270000 +00:00
115643  2023-05-31 21:35:03.5854187 +00:00
115644  2023-05-31 21:42:49.6908746 +00:00
115645  2023-05-31 21:42:49.9140000 +00:00
115646  2023-05-31 21:48:30.2205116 +00:00

                                        t2  \
0                                     None
1       2022-09-06 09:58:27.8729389 +00:00
2                                     None
3       2022-09-06 10:43:03.1332226 +00:00
4                                     None
...                                    ...
115642  2023-05-31 21:38:31.6307434 +00:00
115643                                None
115644                                None
115645  2023-05-31 21:46:01.6667078 +00:00
115646  2023-05-31 21:51:56.2253036 +00:00

                                        t3  \
0                                     None
1       2022-09-06 10:07:00.7842800 +00:00
2                                     None
3                                     None
4                                     None
...                                    ...
115642  2023-05-31 21:42:56.0215922 +00:00
115643                                None
115644                                None
115645  2023-05-31 21:47:42.0045704 +00:00
115646  2023-05-31 21:54:04.9165612 +00:00

                                        t4  \
0                                     None
1       2022-09-06 10:16:56.2028727 +00:00
2                                     None
3                                     None
4                                     None
...                                    ...
115642                                None
115643                                None
115644                                None
115645  2023-05-31 22:00:21.0906304 +00:00
115646  2023-05-31 21:59:38.9532987 +00:00

                                        t5  \
0                                     None
1       2022-09-06 10:36:50.5682394 +00:00
2                                     None
3                                     None
4                                     None
...                                    ...
115642                                None
115643                                None
115644                                None
115645  2023-05-31 22:06:24.8411904 +00:00
115646  2023-05-31 22:01:59.2422068 +00:00

                                        t6                                  t7
0                                     None  2022-09-06 09:52:43.7446626 +00:00
1                                     None  2022-09-06 10:41:59.4592739 +00:00
2                                     None  2022-09-06 09:58:47.1029350 +00:00
3       2022-09-06 10:56:26.8268314 +00:00  2022-09-06 11:02:19.5976460 +00:00
4                                     None  2022-09-06 11:30:23.3610743 +00:00
...                                    ...                                 ...
115642  2023-05-31 21:51:33.5137031 +00:00  2023-05-31 21:59:59.4578056 +00:00
115643                                None  2023-05-31 21:38:33.6776727 +00:00
115644                                None  2023-05-31 21:46:03.0417682 +00:00
115645  2023-05-31 22:24:05.7635091 +00:00  2023-05-31 22:28:22.9505087 +00:00
115646  2023-05-31 22:23:48.8097201 +00:00  2023-05-31 22:24:00.1852243 +00:00

[115645 rows x 8 columns]
                     t0                t1                t2                t3  \
0      01JUN22:00:02:45  01JUN22:00:04:22  01JUN22:00:15:56  01JUN22:00:15:59
1      01JUN22:00:04:58  01JUN22:00:08:00  01JUN22:00:10:03  01JUN22:00:19:43
2      01JUN22:00:07:43              None              None              None
3      01JUN22:00:07:43              None              None              None
4      01JUN22:00:09:18  01JUN22:00:12:05  01JUN22:00:13:03  01JUN22:00:20:29
...                 ...               ...               ...               ...
38615  06SEP22:14:02:31  06SEP22:14:05:10  06SEP22:14:06:15  06SEP22:14:10:15
38616  06SEP22:14:11:22  06SEP22:14:12:08  06SEP22:14:12:09              None
38617  06SEP22:14:11:47              None              None              None
38618  06SEP22:14:11:47              None              None              None
38619  06SEP22:14:13:51  06SEP22:14:17:36  06SEP22:14:17:37  06SEP22:14:27:13

                     t4                t5                t6                t7
0                  None              None  01JUN22:00:38:06  01JUN22:00:43:54
1      01JUN22:00:19:49  01JUN22:00:24:25  01JUN22:01:59:18  01JUN22:01:59:19
2                  None              None              None              None
3                  None              None              None              None
4                  None              None  01JUN22:00:34:11  01JUN22:00:55:36
...                 ...               ...               ...               ...
38615  06SEP22:14:10:33  06SEP22:14:39:02  06SEP22:14:25:39  06SEP22:14:35:48
38616              None              None  06SEP22:15:32:06  06SEP22:15:36:50
38617              None              None              None              None
38618              None              None              None              None
38619  06SEP22:14:42:10  06SEP22:14:48:11  06SEP22:15:24:23  06SEP22:15:37:04

[36710 rows x 8 columns]
                      t0                t1                       t2  \
0       01JUN22:00:01:34  01JUN22:00:03:26  2022-06-01 00:07:34.655
1       01JUN22:00:03:51  01JUN22:00:06:14  2022-06-01 00:10:00.017
2       01JUN22:00:03:51  01JUN22:00:22:18  2022-06-01 00:25:35.404
3       01JUN22:00:08:56  01JUN22:00:12:59  2022-06-01 00:15:36.856
4       01JUN22:00:10:38  01JUN22:00:15:00  2022-06-01 00:18:01.345
...                  ...               ...                      ...
200622  11JUL22:06:59:08  11JUL22:07:01:30  2022-07-11 07:02:55.511
200623  11JUL22:07:01:37  11JUL22:07:03:26  2022-07-11 07:04:28.501
200624  11JUL22:07:05:40  11JUL22:07:08:41  2022-07-11 07:14:04.569
200625  11JUL22:07:09:58  11JUL22:07:12:09  2022-07-11 07:15:56.741
200626  11JUL22:07:09:58  11JUL22:07:12:09  2022-07-11 07:15:58.751

                             t3                       t4  \
0       2022-06-01 00:17:53.888                     None
1       2022-06-01 00:16:25.356  2022-06-01 00:46:34.089
2       2022-06-01 00:35:58.397  2022-06-01 00:46:30.026
3       2022-06-01 00:27:35.760                     None
4       2022-06-01 00:25:28.053  2022-06-01 00:50:17.593
...                         ...                      ...
200622  2022-07-11 07:13:41.402  2022-07-11 07:29:08.581
200623  2022-07-11 07:09:30.712  2022-07-11 07:20:45.476
200624  2022-07-11 07:21:20.130  2022-07-11 07:43:08.643
200625  2022-07-11 07:23:44.727  2022-07-11 07:43:40.960
200626  2022-07-11 07:33:37.331                     None

                             t5                       t6  \
0                          None  2022-06-01 00:28:18.934
1       2022-06-01 00:56:48.871  2022-06-01 01:08:30.111
2       2022-06-01 01:06:50.953  2022-06-01 01:06:52.142
3                          None  2022-06-01 00:40:57.191
4       2022-06-01 00:59:50.136  2022-06-01 01:23:34.290
...                         ...                      ...
200622  2022-07-11 07:50:31.522  2022-07-11 08:12:03.972
200623  2022-07-11 07:31:31.721  2022-07-11 07:39:09.480
200624  2022-07-11 07:43:14.808  2022-07-11 08:06:08.703
200625  2022-07-11 07:58:36.802  2022-07-11 08:06:58.932
200626                     None  2022-07-11 07:40:38.960

                             t7
0       2022-06-01 00:53:17.876
1       2022-06-01 01:25:44.611
2       2022-06-01 01:20:48.471
3       2022-06-01 00:48:03.555
4                          None
...                         ...
200622  2022-07-11 08:29:01.763
200623  2022-07-11 08:02:15.653
200624  2022-07-11 08:13:09.447
200625  2022-07-11 08:32:28.872
200626  2022-07-11 07:54:38.570

[200627 rows x 8 columns]
                      t0                t1                       t2  \
0       11JUL22:07:13:11  11JUL22:07:18:50  2022-07-11 07:22:08.119
1       11JUL22:07:14:34  11JUL22:07:15:53  2022-07-11 07:17:08.742
2       11JUL22:07:25:15  11JUL22:07:27:35  2022-07-11 07:48:20.678
3       11JUL22:07:45:26  11JUL22:07:47:50                     None
4       11JUL22:07:55:06  11JUL22:07:57:42  2022-07-11 07:59:16.532
...                  ...               ...                      ...
200622  05JAN23:01:04:14  05JAN23:01:05:16  2023-01-05 01:08:26.402
200623  05JAN23:01:03:40  05JAN23:01:06:33  2023-01-05 01:08:40.194
200624  05JAN23:01:03:40  05JAN23:01:06:33  2023-01-05 01:08:15.852
200625  05JAN23:01:12:59  05JAN23:01:14:45  2023-01-05 01:17:41.371
200626  05JAN23:01:14:14  05JAN23:01:15:24  2023-01-05 01:19:58.007

                             t3                       t4  \
0       2022-07-11 07:28:57.144  2022-07-11 07:45:22.173
1       2022-07-11 07:29:44.622  2022-07-11 07:41:28.712
2       2022-07-11 07:48:21.816  2022-07-11 07:52:23.829
3                          None                     None
4       2022-07-11 08:07:27.738  2022-07-11 08:37:04.903
...                         ...                      ...
200622  2023-01-05 01:12:39.404  2023-01-05 01:17:52.820
200623  2023-01-05 01:15:05.927  2023-01-05 01:39:50.156
200624  2023-01-05 01:15:05.783  2023-01-05 01:25:55.517
200625  2023-01-05 01:23:21.449  2023-01-05 01:38:40.676
200626                     None                     None

                             t5                       t6  \
0       2022-07-11 08:07:54.768  2022-07-11 08:36:55.435
1       2022-07-11 07:57:43.712  2022-07-11 08:13:43.882
2                          None                     None
3                          None                     None
4       2022-07-11 08:43:28.982  2022-07-11 08:57:17.163
...                         ...                      ...
200622  2023-01-05 01:20:03.729  2023-01-05 01:26:43.229
200623  2023-01-05 01:40:32.079  2023-01-05 02:16:19.238
200624  2023-01-05 01:39:24.322                     None
200625  2023-01-05 01:44:17.804  2023-01-05 01:55:18.746
200626                     None  2023-01-05 02:12:35.300

                             t7
0       2022-07-11 09:07:44.134
1       2022-07-11 08:16:46.852
2       2022-07-11 09:55:32.359
3       2022-07-11 17:51:31.334
4       2022-07-11 09:18:02.762
...                         ...
200622  2023-01-05 01:33:02.546
200623  2023-01-05 02:25:53.991
200624  2023-01-05 01:39:40.532
200625  2023-01-05 02:23:03.680
200626  2023-01-05 02:15:07.793

[200627 rows x 8 columns]
                      t0                t1                       t2  \
0       05JAN23:01:18:27  05JAN23:01:20:35  2023-01-05 01:22:58.369
1       05JAN23:01:20:59  05JAN23:01:22:13  2023-01-05 01:23:02.798
2       05JAN23:01:34:07  05JAN23:01:36:05  2023-01-05 01:39:20.636
3       05JAN23:01:33:32  05JAN23:01:37:23  2023-01-05 01:41:30.735
4       05JAN23:01:42:33  05JAN23:01:44:33  2023-01-05 01:48:31.662
...                  ...               ...                      ...
200622  31MAY23:22:39:45  31MAY23:22:44:33                     None
200623  31MAY23:22:50:56  31MAY23:22:52:38                     None
200624  31MAY23:23:00:15  31MAY23:23:02:37                     None
200625  31MAY23:23:41:10  31MAY23:23:44:47                     None
200626  31MAY23:23:47:52  31MAY23:23:49:37                     None

                             t3                       t4  \
0       2023-01-05 01:26:06.798                     None
1       2023-01-05 01:28:53.947                     None
2       2023-01-05 01:44:38.018  2023-01-05 01:49:30.303
3       2023-01-05 01:47:22.982                     None
4       2023-01-05 01:55:18.586  2023-01-05 02:05:59.829
...                         ...                      ...
200622                     None                     None
200623                     None                     None
200624                     None                     None
200625                     None                     None
200626                     None                     None

                             t5                       t6  \
0                          None  2023-01-05 01:45:51.789
1                          None  2023-01-05 01:45:25.279
2       2023-01-05 01:54:36.206  2023-01-05 02:08:45.980
3                          None  2023-01-05 02:03:42.469
4       2023-01-05 02:10:11.140  2023-01-05 02:23:53.379
...                         ...                      ...
200622                     None                     None
200623                     None                     None
200624                     None                     None
200625                     None                     None
200626                     None                     None

                             t7
0       2023-01-05 01:49:10.253
1       2023-01-05 03:01:42.012
2       2023-01-05 02:26:12.779
3       2023-01-05 02:08:21.270
4       2023-01-05 02:32:04.849
...                         ...
200622                     None
200623                     None
200624                     None
200625                     None
200626                     None

[200627 rows x 8 columns]
                             t0                t1                       t2  \
0       2022-06-01 00:12:50.000  01JUN22:00:14:32  2022-06-01 00:16:56.000
1       2022-06-01 00:11:02.000  01JUN22:00:15:09  2022-06-01 00:18:12.000
2       2022-07-14 16:54:37.000  01JUN22:01:07:46  2022-06-01 01:11:48.000
3       2022-07-14 16:54:37.000  01JUN22:01:10:19  2022-06-01 01:11:48.000
4       2022-06-01 01:14:59.000  01JUN22:01:17:29  2022-06-01 01:24:25.000
...                         ...               ...                      ...
289396                     None  06JUL22:18:40:51                     None
289397                     None  06JUL22:19:08:28                     None
289398                     None  06JUL22:19:20:02                     None
289399                     None  07JUL22:12:57:39                     None
289400                     None  16AUG22:10:22:18                     None

                             t3                       t4  \
0       2022-06-01 00:24:46.000  2022-06-01 00:35:52.000
1       2022-06-01 00:22:34.000  2022-06-01 00:35:33.000
2       2022-06-01 01:17:45.000  2022-06-01 01:47:37.000
3       2022-06-01 01:17:45.000  2022-06-01 01:47:37.000
4       2022-06-01 01:31:13.000  2022-06-01 01:44:03.000
...                         ...                      ...
289396  2022-07-06 18:40:52.000                     None
289397  2022-07-06 19:08:28.000                     None
289398  2022-07-06 19:20:02.000                     None
289399  2022-07-07 12:57:39.000                     None
289400  2022-08-16 10:22:18.000                     None

                             t5                       t6  \
0       2022-06-01 00:46:30.000  2022-06-01 00:57:15.000
1       2022-06-01 00:43:14.000  2022-06-01 00:49:39.000
2       2022-06-01 02:36:49.000  2022-06-01 02:36:54.000
3       2022-06-01 02:36:49.000  2022-06-01 02:36:54.000
4                          None                     None
...                         ...                      ...
289396                     None                     None
289397                     None                     None
289398                     None                     None
289399                     None                     None
289400                     None                     None

                             t7
0                          None
1                          None
2       2022-06-01 01:10:17.000
3       2022-06-01 01:10:17.000
4       2022-06-01 01:17:25.000
...                         ...
289396                     None
289397                     None
289398                     None
289399                     None
289400                     None

[289401 rows x 8 columns]

In [80]:
import pandas as pd

# Define the correct date format string
date_format = "%Y-%m-%d %H:%M:%S"

# Define custom format string for parsing the datetime format "01JUN22:00:02:45"
custom_format = "%d%b%y:%H:%M:%S"

# Define datasets and their corresponding date columns
datasets = {
    'df_interventions_bxl': ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7'],
    'df_interventions_bxl2': ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7'],
    'df_interventions1': ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7'],
    'df_interventions2': ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7'],
    'df_interventions3': ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7'],
    'df_cad9': ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7']
}

# Apply the correct format string to each date column for each dataset
for dataset_name, date_cols in datasets.items():
    dataset = globals()[dataset_name]  # Get the dataset using its name
    for column in date_cols:
        try:
            # Try parsing with custom format
            dataset[column] = pd.to_datetime(dataset[column], utc=True, format=custom_format).dt.strftime(date_format)
        except ValueError:
            # If parsing with custom format fails, try the default format
            dataset[column] = pd.to_datetime(dataset[column], utc=True).dt.strftime(date_format)

In [81]:
#import pandas as pd

# Define the correct date format strings
#date_format_1 = "%d%b%y:%H:%M:%S"
#date_format_2 = "%Y-%m-%d %H:%M:%S.%f"
#date_format_3 = "%Y-%m-%d %H:%M:%S"

# Define datasets and their corresponding date columns
#datasets = {
#    'df_interventions_bxl': ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7'],
#    'df_interventions_bxl2': ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7'],
#    'df_interventions1': ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7'],
#    'df_interventions2': ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7'],
#    'df_interventions3': ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7'],
#    'df_cad9': ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7']
#}

# Apply the correct format string to each date column for each dataset
#for dataset_name, date_cols in datasets.items():
#    dataset = globals()[dataset_name]  # Get the dataset using its name
#    for column in date_cols:
#        try:
#           # Try parsing with date_format_1
#            dataset[column] = pd.to_datetime(dataset[column], utc=True, format=date_format_1).dt.strftime(date_format_2)
#        except ValueError:
#            # If parsing with date_format_1 fails, try date_format_2
#            dataset[column] = pd.to_datetime(dataset[column], utc=True, format='mixed').dt.strftime(date_format_2)

In [82]:
# Check the start and end dates of t0 in all_interventions
for dataset_name, dataset in zip(['df_interventions_bxl', 'df_interventions_bxl2', 'df_interventions1',
                                  'df_interventions2', 'df_interventions3', 'df_cad9'], all_interventions):
    dataset['t0'] = pd.to_datetime(dataset['t0'])
    start_date = dataset['t0'].min()
    end_date = dataset['t0'].max()
    print(f"{dataset_name}: Start Date of t0: {start_date}, End Date of t0: {end_date}")

df_interventions_bxl: Start Date of t0: 2022-09-06 09:49:21, End Date of t0: 2023-05-31 21:42:36
df_interventions_bxl2: Start Date of t0: 2022-06-01 00:02:45, End Date of t0: 2022-09-06 14:13:51
df_interventions1: Start Date of t0: 2022-06-01 00:00:20, End Date of t0: 2023-05-31 23:59:47
df_interventions2: Start Date of t0: 2022-06-01 00:50:04, End Date of t0: 2023-05-31 23:50:45
df_interventions3: Start Date of t0: 2022-06-01 00:10:36, End Date of t0: 2023-05-31 23:47:52
df_cad9: Start Date of t0: 2022-04-06 09:54:18, End Date of t0: 2023-05-31 23:56:18

In [83]:
# Filter data before 2022-06-01 in each dataset and check the start and end dates
for dataset_name, dataset in zip(['df_interventions_bxl', 'df_interventions_bxl2', 'df_interventions1',
                                  'df_interventions2', 'df_interventions3', 'df_cad9'], all_interventions):
    dataset['t0'] = pd.to_datetime(dataset['t0'])  # Convert 't0' column to datetime format
    dataset.drop(dataset[dataset['t0'] < '2022-06-01'].index, inplace=True)  # Delete rows before 2022-06-01
    start_date = dataset['t0'].min()  # Get the start date of t0
    end_date = dataset['t0'].max()  # Get the end date of t0
    print(f"{dataset_name}: Start Date of t0: {start_date}, End Date of t0: {end_date}")

df_interventions_bxl: Start Date of t0: 2022-09-06 09:49:21, End Date of t0: 2023-05-31 21:42:36
df_interventions_bxl2: Start Date of t0: 2022-06-01 00:02:45, End Date of t0: 2022-09-06 14:13:51
df_interventions1: Start Date of t0: 2022-06-01 00:00:20, End Date of t0: 2023-05-31 23:59:47
df_interventions2: Start Date of t0: 2022-06-01 00:50:04, End Date of t0: 2023-05-31 23:50:45
df_interventions3: Start Date of t0: 2022-06-01 00:10:36, End Date of t0: 2023-05-31 23:47:52
df_cad9: Start Date of t0: 2022-06-01 00:03:06, End Date of t0: 2023-05-31 23:56:18

In [84]:
# Save data sets as a Parquet file
df_interventions_bxl.to_parquet('../../1_Data/CLEANED/df_interventions_bxl.parquet')
df_interventions_bxl2.to_parquet('../../1_Data/CLEANED/df_interventions_bxl2.parquet')
df_interventions1.to_parquet('../../1_Data/CLEANED/df_interventions1.parquet')
df_interventions2.to_parquet('../../1_Data/CLEANED/df_interventions2.parquet')
df_interventions3.to_parquet('../../1_Data/CLEANED/df_interventions3.parquet')
df_cad9.to_parquet('../../1_Data/CLEANED/df_cad9.parquet')

In [85]:
# Load data
# Path to your Parquet gzip file
file_path_5 = '../../1_Data/CLEANED/df_interventions_bxl.parquet'
file_path_6 = '../../1_Data/CLEANED/df_interventions_bxl2.parquet'
file_path_7 = '../../1_Data/CLEANED/df_interventions1.parquet'
file_path_8 = '../../1_Data/CLEANED/df_interventions2.parquet'
file_path_9 = '../../1_Data/CLEANED/df_interventions3.parquet'
file_path_10 = '../../1_Data/CLEANED/df_cad9.parquet'

# Read the Parquet file into a pandas DataFrame
df_interventions_bxl = pd.read_parquet(file_path_5, engine='pyarrow')
df_interventions_bxl2 = pd.read_parquet(file_path_6, engine='pyarrow')
df_interventions1 = pd.read_parquet(file_path_7, engine='pyarrow')
df_interventions2 = pd.read_parquet(file_path_8, engine='pyarrow')
df_interventions3 = pd.read_parquet(file_path_9, engine='pyarrow')
df_cad9 = pd.read_parquet(file_path_10, engine='pyarrow')

# Define your dataset
all_datasets = [df_ambulance_locations, df_pit_locations, df_mug_locations, df_aed_locations, df_interventions_bxl, df_interventions_bxl2, df_interventions1, df_interventions2, df_interventions3, df_cad9]
all_interventions = [df_interventions_bxl, df_interventions_bxl2, df_interventions1, df_interventions2, df_interventions3, df_cad9]

In [86]:
# Show data set
#df_cad9[['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7']].head(70)

In [87]:
import pandas as pd
import itertools

# Function to convert string timestamps to datetime objects
def convert_to_datetime(timestamps):
    return [pd.to_datetime(ts) for ts in timestamps]

# Function to check if timestamps are consecutive
def is_consecutive(timestamps):
    # Generate combinations of pairs of timestamps
    pairs = itertools.combinations(timestamps, 2)
    # Check if all pairs are in increasing order
    return all(pair[0] <= pair[1] for pair in pairs)

# Function to find rows with non-consecutive timestamps
def find_non_consecutive_rows(df):
    non_consecutive_rows = []
    count = 0
    for index, row in df.iterrows():
        timestamps = [row[f't{i}'] for i in range(8) if not pd.isna(row[f't{i}'])]
        timestamps = convert_to_datetime(timestamps)
        if not is_consecutive(timestamps):
            non_consecutive_rows.append(timestamps)
            count += 1
            if count == 10:
                break
    return non_consecutive_rows

# Apply the processing to each dataset in all_interventions
for i, dataset in enumerate(all_interventions):
    non_consecutive_rows = find_non_consecutive_rows(dataset)
    print(f"Rows with non-consecutive timestamps in Dataset {i + 1}:")
    for row_values in non_consecutive_rows:
        print(row_values)

Rows with non-consecutive timestamps in Dataset 1:
[Timestamp('2022-09-06 11:26:48'), Timestamp('2022-09-06 11:30:55'), Timestamp('2022-09-06 11:32:40'), Timestamp('2022-09-06 11:36:27'), Timestamp('2022-09-06 12:11:46'), Timestamp('2022-09-06 12:11:00'), Timestamp('2022-09-06 12:44:17'), Timestamp('2022-09-06 13:32:42')]
[Timestamp('2022-09-06 12:13:58'), Timestamp('2022-09-06 12:20:09'), Timestamp('2022-09-06 12:25:05'), Timestamp('2022-09-06 12:25:17'), Timestamp('2022-09-06 12:25:00'), Timestamp('2022-09-06 12:25:00')]
[Timestamp('2022-09-06 12:24:25'), Timestamp('2022-09-06 12:32:05'), Timestamp('2022-09-06 12:27:29'), Timestamp('2022-09-06 13:27:03'), Timestamp('2022-09-06 13:32:48')]
[Timestamp('2022-09-06 12:38:11'), Timestamp('2022-09-06 12:41:16'), Timestamp('2022-09-06 12:41:03'), Timestamp('2022-09-06 12:45:44'), Timestamp('2022-09-06 12:53:55'), Timestamp('2022-09-06 13:01:32'), Timestamp('2022-09-06 13:24:07')]
[Timestamp('2022-09-06 12:51:41'), Timestamp('2022-09-06 12:57:28'), Timestamp('2022-09-06 12:57:29'), Timestamp('2022-09-07 12:57:00'), Timestamp('2022-09-06 13:20:26'), Timestamp('2022-09-06 13:23:06'), Timestamp('2022-09-06 13:50:05')]
[Timestamp('2022-09-06 13:08:52'), Timestamp('2022-09-06 13:28:48'), Timestamp('2022-09-06 13:13:18'), Timestamp('2022-09-06 14:05:04'), Timestamp('2022-09-06 14:05:05'), Timestamp('2022-09-06 14:05:07'), Timestamp('2022-09-06 14:29:14'), Timestamp('2022-09-06 14:33:20')]
[Timestamp('2022-09-06 13:29:41'), Timestamp('2022-09-06 13:52:42'), Timestamp('2022-09-06 13:52:32'), Timestamp('2022-09-06 13:55:10'), Timestamp('2022-09-06 14:10:02'), Timestamp('2022-09-06 14:12:47'), Timestamp('2022-09-06 14:22:02')]
[Timestamp('2022-09-06 13:41:16'), Timestamp('2022-09-06 13:43:57'), Timestamp('2022-09-06 13:43:43'), Timestamp('2022-09-06 14:01:51'), Timestamp('2022-09-06 14:01:52'), Timestamp('2022-09-06 14:21:14'), Timestamp('2022-09-06 14:29:10')]
[Timestamp('2022-09-06 14:05:12'), Timestamp('2022-09-06 14:26:16'), Timestamp('2022-09-06 14:10:43'), Timestamp('2022-09-06 14:19:19'), Timestamp('2022-09-06 14:27:46'), Timestamp('2022-09-06 14:34:31'), Timestamp('2022-09-06 14:56:12')]
[Timestamp('2022-09-06 14:18:40'), Timestamp('2022-09-06 14:20:55'), Timestamp('2022-09-06 14:20:25'), Timestamp('2022-09-07 14:20:00'), Timestamp('2022-09-06 15:13:46'), Timestamp('2022-09-06 15:38:12')]
Rows with non-consecutive timestamps in Dataset 2:
[Timestamp('2022-06-01 00:43:04'), Timestamp('2022-06-01 00:45:39'), Timestamp('2022-06-01 00:48:40'), Timestamp('2022-06-01 01:01:28'), Timestamp('2022-06-01 01:01:28'), Timestamp('2022-06-01 02:00:14'), Timestamp('2022-06-01 01:17:03'), Timestamp('2022-06-01 01:21:07')]
[Timestamp('2022-06-01 00:44:36'), Timestamp('2022-06-01 00:49:09'), Timestamp('2022-06-01 00:49:10'), Timestamp('2022-06-01 00:51:15'), Timestamp('2022-06-01 01:11:10'), Timestamp('2022-06-01 01:25:15'), Timestamp('2022-06-01 01:25:05'), Timestamp('2022-06-01 01:30:17')]
[Timestamp('2022-06-01 02:35:53'), Timestamp('2022-06-01 02:25:02'), Timestamp('2022-06-01 02:27:27'), Timestamp('2022-06-01 02:39:00'), Timestamp('2022-06-01 02:39:01'), Timestamp('2022-06-01 03:04:43')]
[Timestamp('2022-06-01 03:42:50'), Timestamp('2022-06-01 03:44:13'), Timestamp('2022-06-01 03:47:17'), Timestamp('2022-06-01 04:05:35'), Timestamp('2022-06-01 04:05:41'), Timestamp('2022-06-01 04:02:27'), Timestamp('2022-06-01 04:11:23')]
[Timestamp('2022-06-01 06:16:20'), Timestamp('2022-06-01 06:19:29'), Timestamp('2022-06-01 06:35:05'), Timestamp('2022-06-01 06:29:58'), Timestamp('2022-06-01 06:46:42'), Timestamp('2022-06-01 07:17:29')]
[Timestamp('2022-06-01 07:16:47'), Timestamp('2022-06-01 07:19:27'), Timestamp('2022-06-01 07:21:38'), Timestamp('2022-06-01 07:26:28'), Timestamp('2022-06-01 07:36:51'), Timestamp('2022-06-01 08:01:14'), Timestamp('2022-06-01 07:44:31')]
[Timestamp('2022-06-01 07:30:15'), Timestamp('2022-06-01 07:32:08'), Timestamp('2022-06-01 07:34:01'), Timestamp('2022-06-01 07:44:43'), Timestamp('2022-06-01 07:36:33'), Timestamp('2022-06-01 07:44:25'), Timestamp('2022-06-01 07:44:51'), Timestamp('2022-06-01 07:48:23')]
[Timestamp('2022-06-01 07:45:30'), Timestamp('2022-06-01 07:47:01'), Timestamp('2022-06-01 07:48:46'), Timestamp('2022-06-01 08:16:13'), Timestamp('2022-06-01 08:09:13'), Timestamp('2022-06-01 08:23:22'), Timestamp('2022-06-01 08:36:14')]
[Timestamp('2022-06-01 08:19:12'), Timestamp('2022-06-01 08:20:25'), Timestamp('2022-06-01 08:22:37'), Timestamp('2022-06-01 08:31:20'), Timestamp('2022-06-01 08:52:56'), Timestamp('2022-06-01 09:31:44'), Timestamp('2022-06-01 09:13:16'), Timestamp('2022-06-01 09:26:49')]
[Timestamp('2022-06-01 08:41:03'), Timestamp('2022-06-01 08:42:17'), Timestamp('2022-06-01 08:45:29'), Timestamp('2022-06-01 08:53:12'), Timestamp('2022-06-01 10:11:55'), Timestamp('2022-06-01 10:11:57'), Timestamp('2022-06-01 10:06:16')]
Rows with non-consecutive timestamps in Dataset 3:
[Timestamp('2022-06-01 04:06:31'), Timestamp('2022-06-01 04:09:20'), Timestamp('2022-06-01 04:12:57'), Timestamp('2022-06-01 04:23:00'), Timestamp('2022-06-01 04:47:37'), Timestamp('2022-06-01 04:47:39'), Timestamp('2022-06-01 06:52:49'), Timestamp('2022-06-01 05:10:19')]
[Timestamp('2022-06-01 06:45:53'), Timestamp('2022-06-01 06:48:30'), Timestamp('2022-06-01 06:52:06'), Timestamp('2022-06-01 07:04:46'), Timestamp('2022-06-01 06:49:27')]
[Timestamp('2022-06-01 07:15:58'), Timestamp('2022-06-01 07:18:29'), Timestamp('2022-06-01 08:22:08'), Timestamp('2022-06-01 07:23:55'), Timestamp('2022-06-01 07:33:43'), Timestamp('2022-06-01 07:36:08'), Timestamp('2022-06-01 08:15:09')]
[Timestamp('2022-06-01 11:43:31'), Timestamp('2022-06-01 11:49:51'), Timestamp('2022-06-01 11:47:13'), Timestamp('2022-06-01 11:59:32'), Timestamp('2022-06-01 12:09:31'), Timestamp('2022-06-01 12:19:16'), Timestamp('2022-06-01 12:36:06')]
[Timestamp('2022-06-01 13:24:37'), Timestamp('2022-06-01 13:27:33'), Timestamp('2022-06-01 13:27:15'), Timestamp('2022-06-01 13:31:04'), Timestamp('2022-06-01 13:37:36'), Timestamp('2022-06-01 13:41:27'), Timestamp('2022-06-01 13:51:47'), Timestamp('2022-06-01 13:56:21')]
[Timestamp('2022-06-02 00:27:06'), Timestamp('2022-06-02 00:29:24'), Timestamp('2022-06-02 00:33:25'), Timestamp('2022-06-02 00:41:24'), Timestamp('2022-06-02 00:49:46'), Timestamp('2022-06-02 00:48:56')]
[Timestamp('2022-06-02 04:34:32'), Timestamp('2022-06-02 04:35:48'), Timestamp('2022-06-02 04:39:46'), Timestamp('2022-06-02 04:57:06'), Timestamp('2022-06-02 04:53:27'), Timestamp('2022-06-02 05:02:44'), Timestamp('2022-06-02 05:28:36'), Timestamp('2022-06-02 05:34:36')]
[Timestamp('2022-06-02 05:57:41'), Timestamp('2022-06-02 05:58:48'), Timestamp('2022-06-02 06:02:32'), Timestamp('2022-06-02 06:58:28'), Timestamp('2022-06-02 06:42:31'), Timestamp('2022-06-02 06:44:56'), Timestamp('2022-06-02 07:07:14')]
[Timestamp('2022-06-02 09:27:21'), Timestamp('2022-06-02 09:30:45'), Timestamp('2022-06-02 09:36:07'), Timestamp('2022-06-02 10:20:14'), Timestamp('2022-06-02 10:00:17'), Timestamp('2022-06-02 10:11:21'), Timestamp('2022-06-02 10:29:09'), Timestamp('2022-06-02 10:49:45')]
[Timestamp('2022-06-02 11:09:03'), Timestamp('2022-06-02 11:19:42'), Timestamp('2022-06-02 11:15:38'), Timestamp('2022-06-02 11:24:04'), Timestamp('2022-06-02 11:56:05'), Timestamp('2022-06-02 12:08:03'), Timestamp('2022-06-02 12:25:35')]
Rows with non-consecutive timestamps in Dataset 4:
[Timestamp('2022-07-11 09:40:24'), Timestamp('2022-07-11 09:42:51'), Timestamp('2022-07-11 09:46:46'), Timestamp('2022-07-11 10:22:29'), Timestamp('2022-07-11 10:22:22'), Timestamp('2022-07-11 10:32:54'), Timestamp('2022-07-11 10:50:55'), Timestamp('2022-07-11 10:55:54')]
[Timestamp('2022-07-11 13:06:19'), Timestamp('2022-07-12 13:08:01'), Timestamp('2022-07-12 13:10:00'), Timestamp('2022-07-12 13:21:00'), Timestamp('2022-07-11 13:29:54'), Timestamp('2022-07-11 13:39:04'), Timestamp('2022-07-11 13:52:48'), Timestamp('2022-07-11 13:57:55')]
[Timestamp('2022-07-11 15:24:19'), Timestamp('2022-07-11 15:26:03'), Timestamp('2022-07-11 15:57:33'), Timestamp('2022-07-11 15:58:58'), Timestamp('2022-07-11 15:58:00'), Timestamp('2022-07-11 16:04:00'), Timestamp('2022-07-11 16:43:14'), Timestamp('2022-07-11 16:43:22')]
[Timestamp('2022-07-11 20:34:05'), Timestamp('2022-07-11 20:58:57'), Timestamp('2022-07-11 20:38:23'), Timestamp('2022-07-11 20:46:12'), Timestamp('2022-07-11 21:39:36'), Timestamp('2022-07-11 21:48:50'), Timestamp('2022-07-11 22:03:13'), Timestamp('2022-07-11 22:39:04')]
[Timestamp('2022-07-11 20:53:05'), Timestamp('2022-07-11 20:56:09'), Timestamp('2022-07-11 20:56:00'), Timestamp('2022-07-11 21:00:00'), Timestamp('2022-07-11 21:04:22')]
[Timestamp('2022-07-11 20:53:05'), Timestamp('2022-07-12 20:56:00'), Timestamp('2022-07-12 20:57:00'), Timestamp('2022-07-12 21:00:00'), Timestamp('2022-07-11 21:18:30'), Timestamp('2022-07-11 21:55:18')]
[Timestamp('2022-07-11 20:57:25'), Timestamp('2022-07-11 21:00:43'), Timestamp('2022-07-11 21:05:26'), Timestamp('2022-07-11 21:23:07'), Timestamp('2022-07-11 21:35:06'), Timestamp('2022-07-11 22:06:14'), Timestamp('2022-07-11 21:55:49'), Timestamp('2022-07-11 22:06:25')]
[Timestamp('2022-07-11 21:09:17'), Timestamp('2022-07-11 21:10:52'), Timestamp('2022-07-11 21:17:52'), Timestamp('2022-07-11 21:17:44'), Timestamp('2022-07-11 21:38:33'), Timestamp('2022-07-11 22:08:30'), Timestamp('2022-07-11 22:08:32'), Timestamp('2022-07-11 22:19:22')]
[Timestamp('2022-07-12 00:30:42'), Timestamp('2022-07-12 00:32:53'), Timestamp('2022-07-12 00:35:04'), Timestamp('2022-07-12 00:45:00'), Timestamp('2022-07-12 01:09:00'), Timestamp('2022-07-12 01:18:54'), Timestamp('2022-07-12 01:37:19'), Timestamp('2022-07-12 01:37:18')]
[Timestamp('2022-07-12 01:13:29'), Timestamp('2022-07-12 01:17:54'), Timestamp('2022-07-12 01:27:59'), Timestamp('2022-07-12 01:27:45'), Timestamp('2022-07-12 02:05:11'), Timestamp('2022-07-12 02:12:00'), Timestamp('2022-07-12 02:34:56')]
Rows with non-consecutive timestamps in Dataset 5:
[Timestamp('2023-01-05 13:35:35'), Timestamp('2023-01-05 13:44:24'), Timestamp('2023-01-06 13:43:00'), Timestamp('2023-01-05 13:45:00'), Timestamp('2023-01-05 14:04:33'), Timestamp('2023-01-05 14:22:44'), Timestamp('2023-01-05 14:23:04'), Timestamp('2023-01-05 14:46:14')]
[Timestamp('2023-01-05 16:32:30'), Timestamp('2023-01-05 16:40:16'), Timestamp('2023-01-05 16:41:13'), Timestamp('2023-01-05 17:10:43'), Timestamp('2023-01-05 16:57:29'), Timestamp('2023-01-05 17:17:20'), Timestamp('2023-01-05 17:17:46'), Timestamp('2023-01-05 17:39:37')]
[Timestamp('2023-01-05 17:19:35'), Timestamp('2023-01-05 17:22:54'), Timestamp('2023-01-05 18:24:52'), Timestamp('2023-01-05 17:33:41'), Timestamp('2023-01-05 18:16:30'), Timestamp('2023-01-05 18:25:01'), Timestamp('2023-01-05 18:37:13'), Timestamp('2023-01-05 18:44:21')]
[Timestamp('2023-01-05 19:01:15'), Timestamp('2023-01-05 19:18:47'), Timestamp('2023-01-05 19:26:44'), Timestamp('2023-01-05 19:29:01'), Timestamp('2023-01-05 19:58:29'), Timestamp('2023-01-05 19:42:32'), Timestamp('2023-01-05 19:58:50')]
[Timestamp('2023-01-05 19:42:13'), Timestamp('2023-01-05 19:45:26'), Timestamp('2023-01-05 19:46:21'), Timestamp('2023-01-05 19:53:06'), Timestamp('2023-01-05 19:52:57')]
[Timestamp('2023-01-06 05:15:30'), Timestamp('2023-01-06 05:28:01'), Timestamp('2023-01-06 05:31:00'), Timestamp('2023-01-06 05:36:55'), Timestamp('2023-01-06 06:28:47'), Timestamp('2023-01-06 05:57:06'), Timestamp('2023-01-06 06:55:56')]
[Timestamp('2023-01-06 17:01:33'), Timestamp('2023-01-06 17:03:01'), Timestamp('2023-01-06 17:05:17'), Timestamp('2023-01-06 17:12:04'), Timestamp('2023-01-06 17:47:29'), Timestamp('2023-01-06 17:28:20'), Timestamp('2023-01-06 17:45:56'), Timestamp('2023-01-06 17:47:33')]
[Timestamp('2023-01-07 22:29:14'), Timestamp('2023-01-07 22:51:40'), Timestamp('2023-01-07 22:53:06'), Timestamp('2023-01-07 23:09:59'), Timestamp('2023-01-07 23:20:39'), Timestamp('2023-01-07 23:41:44'), Timestamp('2023-01-07 23:28:08'), Timestamp('2023-01-07 23:41:47')]
[Timestamp('2023-01-08 19:29:44'), Timestamp('2023-01-08 19:32:00'), Timestamp('2023-01-08 19:34:02'), Timestamp('2023-01-08 19:40:12'), Timestamp('2023-01-08 19:45:43'), Timestamp('2023-01-08 19:53:04'), Timestamp('2023-01-08 19:51:31')]
[Timestamp('2023-01-09 13:52:56'), Timestamp('2023-01-09 13:55:57'), Timestamp('2023-01-09 13:57:51'), Timestamp('2023-01-09 14:10:29'), Timestamp('2023-01-09 14:10:00'), Timestamp('2023-01-09 14:58:51'), Timestamp('2023-01-09 15:54:42'), Timestamp('2023-01-09 15:54:57')]
Rows with non-consecutive timestamps in Dataset 6:
[Timestamp('2022-07-14 16:54:37'), Timestamp('2022-06-01 01:07:46'), Timestamp('2022-06-01 01:11:48'), Timestamp('2022-06-01 01:17:45'), Timestamp('2022-06-01 01:47:37'), Timestamp('2022-06-01 02:36:49'), Timestamp('2022-06-01 02:36:54'), Timestamp('2022-06-01 01:10:17')]
[Timestamp('2022-07-14 16:54:37'), Timestamp('2022-06-01 01:10:19'), Timestamp('2022-06-01 01:11:48'), Timestamp('2022-06-01 01:17:45'), Timestamp('2022-06-01 01:47:37'), Timestamp('2022-06-01 02:36:49'), Timestamp('2022-06-01 02:36:54'), Timestamp('2022-06-01 01:10:17')]
[Timestamp('2022-06-01 01:14:59'), Timestamp('2022-06-01 01:17:29'), Timestamp('2022-06-01 01:24:25'), Timestamp('2022-06-01 01:31:13'), Timestamp('2022-06-01 01:44:03'), Timestamp('2022-06-01 01:17:25')]
[Timestamp('2022-06-01 02:30:43'), Timestamp('2022-06-01 02:33:06'), Timestamp('2022-06-01 02:37:59'), Timestamp('2022-06-01 02:50:47'), Timestamp('2022-06-01 03:19:02'), Timestamp('2022-06-01 03:35:26'), Timestamp('2022-06-01 03:50:20'), Timestamp('2022-06-01 02:33:05')]
[Timestamp('2022-06-01 02:30:43'), Timestamp('2022-06-01 02:33:07'), Timestamp('2022-06-01 02:37:59'), Timestamp('2022-06-01 02:50:47'), Timestamp('2022-06-01 03:19:02'), Timestamp('2022-06-01 03:35:26'), Timestamp('2022-06-01 03:50:20'), Timestamp('2022-06-01 02:33:05')]
[Timestamp('2022-06-01 02:35:50'), Timestamp('2022-06-01 02:39:37'), Timestamp('2022-06-01 02:42:43'), Timestamp('2022-06-01 02:47:34'), Timestamp('2022-06-01 02:52:23'), Timestamp('2022-06-01 02:55:36'), Timestamp('2022-06-01 03:20:54'), Timestamp('2022-06-01 02:39:35')]
[Timestamp('2022-06-01 02:35:50'), Timestamp('2022-06-01 02:39:38'), Timestamp('2022-06-01 02:42:43'), Timestamp('2022-06-01 02:47:34'), Timestamp('2022-06-01 02:52:23'), Timestamp('2022-06-01 02:55:36'), Timestamp('2022-06-01 03:20:54'), Timestamp('2022-06-01 02:39:35')]
[Timestamp('2022-06-01 03:47:44'), Timestamp('2022-06-01 03:49:29'), Timestamp('2022-06-01 03:54:39'), Timestamp('2022-06-01 04:02:41'), Timestamp('2022-06-01 04:06:22'), Timestamp('2022-06-01 04:09:11'), Timestamp('2022-06-01 04:19:57'), Timestamp('2022-06-01 03:49:28')]
[Timestamp('2022-06-01 05:20:35'), Timestamp('2022-06-01 05:24:24'), Timestamp('2022-06-01 05:29:01'), Timestamp('2022-06-01 05:33:59'), Timestamp('2022-06-01 06:01:07'), Timestamp('2022-06-01 06:06:52'), Timestamp('2022-06-01 06:24:16'), Timestamp('2022-06-01 05:23:06')]
[Timestamp('2022-06-01 05:20:35'), Timestamp('2022-06-01 05:24:25'), Timestamp('2022-06-01 05:29:01'), Timestamp('2022-06-01 05:33:59'), Timestamp('2022-06-01 06:01:07'), Timestamp('2022-06-01 06:06:52'), Timestamp('2022-06-01 06:24:16'), Timestamp('2022-06-01 05:23:06')]

In [88]:
import pandas as pd
import itertools

# Function to convert string timestamps to datetime objects
def convert_to_datetime(timestamps):
    return [pd.to_datetime(ts) for ts in timestamps]

# Function to check if timestamps are consecutive
def is_consecutive(timestamps):
    # Generate combinations of pairs of timestamps
    pairs = itertools.combinations(timestamps, 2)
    # Check if all pairs are in increasing order
    return all(pair[0] <= pair[1] for pair in pairs)

# Function to find the minimum number of timestamps to remove to make the sequence consecutive
def min_timestamps_to_remove(timestamps):
    min_removed_timestamps = None
    min_removed_count = len(timestamps)
    for r in range(1, len(timestamps)):  # Try removing 1 to len(timestamps)-1 timestamps
        for combination in itertools.combinations(range(len(timestamps)), r):
            reduced_timestamps = [timestamps[i] for i in range(len(timestamps)) if i not in combination]
            if is_consecutive(reduced_timestamps):
                return reduced_timestamps  # Stop if consecutive after removing just one timestamp
            else:
                removed_count = len(combination)
                if removed_count < min_removed_count:
                    min_removed_count = removed_count
                    min_removed_timestamps = reduced_timestamps
    return min_removed_timestamps

# Function to process each row
def process_row(row):
    timestamps = [row[f't{i}'] for i in range(8) if not pd.isna(row[f't{i}'])]
    timestamps = convert_to_datetime(timestamps)
    if is_consecutive(timestamps):
        return row
    else:
        corrected_timestamps = min_timestamps_to_remove(timestamps)
        if corrected_timestamps is not None:
            return pd.Series(corrected_timestamps, index=[f't{i}' for i in range(len(corrected_timestamps))])
        else:
            return row

# Apply the processing to each dataset in other_interventions (VERY LONG RUNTIME = 113 MIN!)
for dataset in all_interventions:
    for index, row in dataset.iterrows():
        dataset.loc[index, ['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7']] = process_row(row)

In [89]:
# Show data set
#df_interventions_bxl[['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7']].head(20)
#df_interventions_bxl2[['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7']].head(20)
#df_interventions1[['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7']].head(20)
#df_interventions2[['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7']].head(20)
#df_interventions3[['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7']].head(20)
#df_cad9[['t0', 't1', 't2', 't3', 't4', 't5', 't6', 't7']].head(20)

In [90]:
# Convert Timestamp objects to string before saving -> Parquet gives problems with timestamp objects
df_interventions_bxl = df_interventions_bxl.astype(str)
df_interventions_bxl2 = df_interventions_bxl2.astype(str)
df_interventions1 = df_interventions1.astype(str)
df_interventions2 = df_interventions2.astype(str)
df_interventions3 = df_interventions3.astype(str)
df_cad9 = df_cad9.astype(str)

# Save data sets as a Parquet file
df_interventions_bxl.to_parquet('../../1_Data/CLEANED/df_interventions_bxl.parquet')
df_interventions_bxl2.to_parquet('../../1_Data/CLEANED/df_interventions_bxl2.parquet')
df_interventions1.to_parquet('../../1_Data/CLEANED/df_interventions1.parquet')
df_interventions2.to_parquet('../../1_Data/CLEANED/df_interventions2.parquet')
df_interventions3.to_parquet('../../1_Data/CLEANED/df_interventions3.parquet')
df_cad9.to_parquet('../../1_Data/CLEANED/df_cad9.parquet')

In [91]:
# Load data
# Path to your Parquet gzip file
file_path_5 = '../../1_Data/CLEANED/df_interventions_bxl.parquet'
file_path_6 = '../../1_Data/CLEANED/df_interventions_bxl2.parquet'
file_path_7 = '../../1_Data/CLEANED/df_interventions1.parquet'
file_path_8 = '../../1_Data/CLEANED/df_interventions2.parquet'
file_path_9 = '../../1_Data/CLEANED/df_interventions3.parquet'
file_path_10 = '../../1_Data/CLEANED/df_cad9.parquet'

# Read the Parquet file into a pandas DataFrame
df_interventions_bxl = pd.read_parquet(file_path_5, engine='pyarrow')
df_interventions_bxl2 = pd.read_parquet(file_path_6, engine='pyarrow')
df_interventions1 = pd.read_parquet(file_path_7, engine='pyarrow')
df_interventions2 = pd.read_parquet(file_path_8, engine='pyarrow')
df_interventions3 = pd.read_parquet(file_path_9, engine='pyarrow')
df_cad9 = pd.read_parquet(file_path_10, engine='pyarrow')

# Define your dataset
all_datasets = [df_ambulance_locations, df_pit_locations, df_mug_locations, df_aed_locations, df_interventions_bxl, df_interventions_bxl2, df_interventions1, df_interventions2, df_interventions3, df_cad9]
all_interventions = [df_interventions_bxl, df_interventions_bxl2, df_interventions1, df_interventions2, df_interventions3, df_cad9]

In [92]:
import pandas as pd

# Define the desired date format
date_format_2 = "%Y-%m-%d %H:%M:%S.%f"

# Columns for which to add Hour, Day, Month, Name of the Day column
date_columns_extra = ['t0', 't7']

# Apply the function to each dataset and column
for dataset in all_interventions:
    for column in date_columns_extra:
        # Replace 'None' with NaN
        dataset[column] = dataset[column].replace('None', pd.NaT)
        # Convert to datetime with mixed format inference
        dataset[column] = pd.to_datetime(dataset[column], utc=True, format='mixed')
        dataset[f'{column}_Hour'] = dataset[column].dt.hour
        dataset[f'{column}_Day'] = dataset[column].dt.day
        dataset[f'{column}_Month'] = dataset[column].dt.month
        dataset[f'{column}_DayName'] = dataset[column].dt.day_name()
        # Convert datetime column back to the desired string format
        dataset[column] = dataset[column].dt.strftime(date_format_2)

# Example usage:
for dataset in all_interventions:
    print(dataset)

         mission_id                          service_name  \
0       20222490011         FB PDS BRUX [PASI CitÈ] SIAMU
1       20222490011         FB PDS BRUX [PASI CitÈ] SIAMU
2       20222490012              HB UR BRUX CHU St Pierre
3       20222490015         FB PDS BRUX [PASI CitÈ] SIAMU
4       20222490019          FB PDS WOLL [PASI UCL] SIAMU
...             ...                                   ...
115642  20231510397         FB PDS BRUX [PASI CitÈ] SIAMU
115643  20231510397         FB PDS BRUX [PASI CitÈ] SIAMU
115644  20231510399   FB PDS ANDE [PASI Anderlecht] SIAMU
115645  20231510399   FB PDS ANDE [PASI Anderlecht] SIAMU
115646  20231510400  FB PDS BRUX [Caserne HÈliport] SIAMU

       postalcode_permanence                          cityname_permanence  \
0                       1000                            Brussel (Brussel)
1                       1000                            Brussel (Brussel)
2                       1000                            Brussel (Brussel)
3                       1000                            Brussel (Brussel)
4                       1200  Woluwe-Saint-Lambert (Woluwe-Saint-Lambert)
...                      ...                                          ...
115642                  1000                            Brussel (Brussel)
115643                  1000                            Brussel (Brussel)
115644                  1070                                   Anderlecht
115645                  1070                                   Anderlecht
115646                  1000                        Bruxelles (Bruxelles)

                      streetname_permanence housenumber_permanence  \
0                            Vesaliusstraat                   None
1                            Vesaliusstraat                   None
2                                 Rue Haute                   None
3                            Vesaliusstraat                   None
4       Avenue Hippocrate - Hippokrateslaan                   None
...                                     ...                    ...
115642                       Vesaliusstraat                   None
115643                       Vesaliusstraat                   None
115644                    Bergense Steenweg                   None
115645                    Bergense Steenweg                   None
115646                 Avenue de l'HÈliport                   None

       latitude_permanence longitude_permanence permanence_short_name  \
0                  5085097               436411             ABBRUX11A
1                  5085097               436411             ABBRUX03A
2                508343302             43454504             ABBRUX06A
3                  5085097               436411             ABBRUX03A
4                  5085211                44604             ABWOLL01A
...                    ...                  ...                   ...
115642             5085097               436411             ABBRUX10A
115643             5085097               436411             ABBRUX11A
115644             5083254               431199             ABANDE01A
115645             5083254               431199             ABANDE04A
115646             5085946               435181             ABBRUX04A

       permanence_long_name  ... number_of_transported_persons  \
0                AMB CITE 2  ...                           nan
1                AMB HELI 3  ...                           nan
2                 AMB HSP 1  ...                           nan
3                AMB HELI 3  ...                           nan
4                 AMB UCL 1  ...                           nan
...                     ...  ...                           ...
115642           AMB CITE 1  ...                           nan
115643           AMB CITE 2  ...                           nan
115644            AMB AND 1  ...                           nan
115645            AMB AND 4  ...                           nan
115646           AMB HELI 4  ...                           1.0

               abandon_reason t0_Hour t0_Day t0_Month t0_DayName t7_Hour  \
0                       Error       9      6        9    Tuesday     9.0
1                        None       9      6        9    Tuesday    10.0
2                       Error       9      6        9    Tuesday     9.0
3       Weigering van vervoer      10      6        9    Tuesday    11.0
4                 Geannuleerd      11      6        9    Tuesday    11.0
...                       ...     ...    ...      ...        ...     ...
115642  Weigering van vervoer      21     31        5  Wednesday    21.0
115643                  Error      21     31        5  Wednesday    21.0
115644                  Error      21     31        5  Wednesday    21.0
115645                   None      21     31        5  Wednesday    22.0
115646                   None      21     31        5  Wednesday    22.0

       t7_Day t7_Month t7_DayName
0         6.0      9.0    Tuesday
1         6.0      9.0    Tuesday
2         6.0      9.0    Tuesday
3         6.0      9.0    Tuesday
4         6.0      9.0    Tuesday
...       ...      ...        ...
115642   31.0      5.0  Wednesday
115643   31.0      5.0  Wednesday
115644   31.0      5.0  Wednesday
115645   31.0      5.0  Wednesday
115646   31.0      5.0  Wednesday

[115645 rows x 51 columns]
        mission_id                          t0  \
0      20221520003  2022-06-01 00:02:45.000000
1      20221520005  2022-06-01 00:04:58.000000
2      20221520006  2022-06-01 00:07:43.000000
3      20221520006  2022-06-01 00:07:43.000000
4      20221520007  2022-06-01 00:09:18.000000
...            ...                         ...
38615  20222495211  2022-09-06 14:02:31.000000
38616  20222495213  2022-09-06 14:11:22.000000
38617  20222495214  2022-09-06 14:11:47.000000
38618  20222495214  2022-09-06 14:11:47.000000
38619  20222495215  2022-09-06 14:13:51.000000

                               cityname_intervention longitude_intervention  \
0                            schaerbeek (schaerbeek)          44067314597.0
1                            schaerbeek (schaerbeek)          43687983838.0
2                            koekelberg (koekelberg)          43323116697.0
3                            koekelberg (koekelberg)          43323116697.0
4                            schaerbeek (schaerbeek)          43836949556.0
...                                              ...                    ...
38615  saint-josse-ten-noode (saint-josse-ten-noode)          43692098773.0
38616                        anderlecht (anderlecht)          43028168071.0
38617                                  uccle (uccle)          43394384459.0
38618                                  uccle (uccle)          43394384459.0
38619                          bruxelles (bruxelles)          43896399138.0

      latitude_intervention number_of_transported_persons  \
0             50855162176.0                           nan
1             50863178373.0                           1.0
2             50857545689.0                           1.0
3             50857545689.0                           nan
4             50852246033.0                           nan
...                     ...                           ...
38615         50851438085.0                           nan
38616         50833989562.0                           nan
38617         50814874217.0                           1.0
38618         50814874217.0                           nan
38619         50841062093.0                           1.0

      permanence_long_name permanence_short_name        service_name  \
0              ZW STMICHEL            A-STMICHEL     ST-MICHEL (MED)
1                 ZW CITE2                A-CIT2          CITE (MED)
2                 ZW2 STAF                 A-EM2      Heliport (MED)
3                MUG HSP 1                 M-HSP           HSP (MED)
4                 ZW CITE1                A-CIT1          CITE (MED)
...                    ...                   ...                 ...
38615           MUG STJEAN                  M-SJ        STJEAN (MED)
38616              ZW AND4                A-AND4    Anderlecht (MED)
38617         ZW ELISABETH                 A-ELI  St-Elisabeth (MED)
38618            MUG HSP 1                 M-HSP           HSP (MED)
38619             ZW CITE1                A-CIT1          CITE (MED)

                cityname_permanence  ...  \
0        1040 etterbeek (etterbeek)  ...
1            1000 brussel (brussel)  ...
2            1000 brussel (brussel)  ...
3        1000 bruxelles (bruxelles)  ...
4            1000 brussel (brussel)  ...
...                             ...  ...
38615        1000 brussel (brussel)  ...
38616  1070 anderlecht (anderlecht)  ...
38617            1180 ukkel (ukkel)  ...
38618    1000 bruxelles (bruxelles)  ...
38619        1000 brussel (brussel)  ...

                                          eventtype_trip  \
0                                          P033 - Trauma
1                              P032 - Allergic reactions
2                            P010 - Respiratory problems
3                            P010 - Respiratory problems
4      P039 - Cardiac problem (other than thoracic pain)
...                                                  ...
38615                                  P011 - Chest pain
38616                              P096 - Out of service
38617                      P015 - Epilepsy - convulsions
38618                      P015 - Epilepsy - convulsions
38619                                      P033 - Trauma

            eventlevel_trip t0_Hour t0_Day t0_Month t0_DayName t7_Hour t7_Day  \
0                        N5       0      1        6  Wednesday     0.0    1.0
1                        N5       0      1        6  Wednesday     1.0    1.0
2                        N1       0      1        6  Wednesday     NaN    NaN
3                        N1       0      1        6  Wednesday     NaN    NaN
4                        N5       0      1        6  Wednesday     0.0    1.0
...                     ...     ...    ...      ...        ...     ...    ...
38615                    N1      14      6        9    Tuesday     NaN    NaN
38616  Buitendienststelling      14      6        9    Tuesday    15.0    6.0
38617                    N1      14      6        9    Tuesday     NaN    NaN
38618                    N1      14      6        9    Tuesday     NaN    NaN
38619                    N5      14      6        9    Tuesday    15.0    6.0

      t7_Month t7_DayName
0          6.0  Wednesday
1          6.0  Wednesday
2          NaN        NaN
3          NaN        NaN
4          6.0  Wednesday
...        ...        ...
38615      NaN        NaN
38616      9.0    Tuesday
38617      NaN        NaN
38618      NaN        NaN
38619      9.0    Tuesday

[36710 rows x 37 columns]
         mission_id                 service_name postalcode_permanence  \
0       10221520001     HA UR MECH AZ St Maarten                2800.0
1       10221520002               BA KAPE AMBUCE                2950.0
2       10221520002       HA UR ANTW Stuivenberg                2060.0
3       10221520004  BA ANTW [Borgerhout] AMBUCE                2140.0
4       10221520005               BA WIJN AMBUCE                2110.0
...             ...                          ...                   ...
200622  50221920082      FH PDS BEAU Hainaut Est                6500.0
200623  50221920083            BH LOUV AS Grande                7110.0
200624  50221920084  BH GERP SAPG Poste Loverval                6280.0
200625  50221920085   FH PDS BINC Hainaut Centre                7130.0
200626  50221920085        HH UR LOUV CHU Tivoli                7100.0

                        cityname_permanence       streetname_permanence  \
0                       Mechelen (Mechelen)              Liersesteenweg
1                       Kapellen (Kapellen)             Essenhoutstraat
2                     Antwerpen (Antwerpen)      Lange Beeldekensstraat
3                    Antwerpen (Borgerhout)               Gijselsstraat
4                       Wijnegem (Wijnegem)               Bijkhoevelaan
...                                     ...                         ...
200622                  Beaumont (Beaumont)           Chauss√©e de Mons
200623  La Louvi√®re (Str√©py-Bracquegnies)             Rue de Nivelles
200624                 Gerpinnes (Loverval)  Chauss√©e de Philippeville
200625                      Binche (Binche)       Rue de la P√©pini√®re
200626          La Louvi√®re (La Louvi√®re)            Avenue Max Buset

       housenumber_permanence latitude_permanence longitude_permanence  \
0                        None            51.05102              4.47803
1                        None    51.3120753246937     4.42439817975528
2                        None            51.22249              4.43629
3                        None            51.21562              4.44392
4                        None            51.23355              4.49318
...                       ...                 ...                  ...
200622                   None            50.24187              4.23468
200623                   None    50.4697581691705     4.12800814431491
200624                   None            50.37336              4.46745
200625                    57A            50.41523                  nan
200626                   None             50.4778              4.20512

       permanence_short_name permanence_long_name  ...  \
0                  AAMECH01A        ZW MECHELEN 1  ...
1                  AAKAPE01A        ZW KAPELLEN 1  ...
2                  UAANTW01A      MUG ANTWERPEN 1  ...
3                  AAANTW07A       ZW ANTWERPEN 7  ...
4                  AAWIJN01A        ZW WIJNEGEM 1  ...
...                      ...                  ...  ...
200622             AHBEAU01A        ZS BEAUMONT 1  ...
200623             AHLOUV03A         AMB STREPY 1  ...
200624             AHGERP01A       AMB LOVERVAL 1  ...
200625             AHBINC01A          ZS BINCHE 1  ...
200626             UHLOUV02A     SMUR LOUV TIVOLI  ...

       number_of_transported_persons        abandon_reason t0_Hour t0_Day  \
0                                nan  Verzorgd ter plaatse       0      1
1                                1.0                  None       0      1
2                                nan                  None       0      1
3                                nan        Zonder patient       0      1
4                                1.0                  None       0      1
...                              ...                   ...     ...    ...
200622                           1.0                  None       6     11
200623                           1.0                  None       7     11
200624                           1.0                  None       7     11
200625                           1.0                  None       7     11
200626                           nan                  None       7     11

       t0_Month t0_DayName t7_Hour t7_Day t7_Month t7_DayName
0             6  Wednesday     0.0    1.0      6.0  Wednesday
1             6  Wednesday     1.0    1.0      6.0  Wednesday
2             6  Wednesday     1.0    1.0      6.0  Wednesday
3             6  Wednesday     0.0    1.0      6.0  Wednesday
4             6  Wednesday     NaN    NaN      NaN        NaN
...         ...        ...     ...    ...      ...        ...
200622        7     Monday     8.0   11.0      7.0     Monday
200623        7     Monday     8.0   11.0      7.0     Monday
200624        7     Monday     8.0   11.0      7.0     Monday
200625        7     Monday     8.0   11.0      7.0     Monday
200626        7     Monday     7.0   11.0      7.0     Monday

[200627 rows x 54 columns]
         mission_id                       service_name postalcode_permanence  \
0       50221920087       FH PDS COMI Wallonie Picarde                7784.0
1       50221920088       FH PDS TOUR Wallonie Picarde                7500.0
2       50221920089         FH PDS LOUV Hainaut Centre                7100.0
3       50221920090  FW HVP HEUV [Nieuwkerke] Westhoek                8950.0
4       50221920092                BH SGHI Croix Rouge                7331.0
...             ...                                ...                   ...
200622  60230050005                BG BLEG Croix Rouge                4671.0
200623  60230050006                      BG AWAN PARAM                4340.0
200624  60230050006           HG UR LIEG CHC Montlegia                4000.0
200625  60230050007                BG LIEG Croix Rouge                4000.0
200626  60230050008                BG OUPE Croix Rouge                4680.0

                cityname_permanence              streetname_permanence  \
0       Comines-Warneton (Warneton)                  Chauss√©e d'Ypres
1                 Tournai (Tournai)                    Avenue de Maire
2       La Louvi√®re (La Louvi√®re)          Boulevard du Roi Baudouin
3           Heuvelland (Nieuwkerke)                    Dranouterstraat
4          Saint-Ghislain (Baudour)                     Rue Louis Caty
...                             ...                                ...
200622             Blegny (Barchon)                   Rue Pr√©s-Champs
200623         4342 awans (hognoul)                rue de la chauss√©e
200624               Li√®ge (Glain)  Boulevard de Patience et Beaujonc
200625              Li√®ge (Li√®ge)                        Rue Darchis
200626              Oupeye (Oupeye)                  Rue du Roi Albert

       housenumber_permanence latitude_permanence longitude_permanence  \
0                        None            50.76034              2.94023
1                        None            50.61652              3.37512
2                        None              50.468              4.19217
3                        None            50.74621               2.8225
4                        None    50.4696295383992     3.84255870289547
...                       ...                 ...                  ...
200622                   None            50.66292               5.6887
200623                   None    50.6806111429557     5.46905963987132
200624                   None            50.64698              5.53601
200625                   None    50.6373572421741     5.56655061117401
200626                   None    50.7028414885518     5.65266847991943

       permanence_short_name permanence_long_name  ...  \
0                  AHCOMI01A         ZS COMINES 1  ...
1                  AHTOUR01A         ZS TOURNAI 1  ...
2                  AHLOUV02A   ZS LA LOUVIERE PIM  ...
3                  AWHEUV01A        ZW NIEUWKERKE  ...
4                  AHSGHI01A  CR SAINT-GHISLAIN 1  ...
...                      ...                  ...  ...
200622             AGBLEG01A          CR.BLEGNY 1  ...
200623             AGAWAN01A           PR.PARAM 1  ...
200624             UGLIEG07A      SMUR MT LEGIA 1  ...
200625             AGLIEG04A           CR LIEGE 1  ...
200626             AGOUPE01A          CR.OUPEYE 1  ...

       number_of_transported_persons abandon_reason t0_Hour t0_Day t0_Month  \
0                                1.0           None       7     11        7
1                                1.0           None       7     11        7
2                                1.0           None       7     11        7
3                                nan           None       7     11        7
4                                1.0           None       7     11        7
...                              ...            ...     ...    ...      ...
200622                           1.0           None       1      5        1
200623                           1.0           None       1      5        1
200624                           nan           None       1      5        1
200625                           1.0           None       1      5        1
200626                           1.0           None       1      5        1

       t0_DayName t7_Hour t7_Day t7_Month t7_DayName

In [93]:
import pandas as pd

# Define the boundaries of Belgium
belgium_longitude_range = (2.5, 6.3)
belgium_latitude_range = (49.5, 51.5)

# Define a function to check if coordinates are within the Belgium boundaries
def is_within_belgium(longitude, latitude):
    return belgium_longitude_range[0] <= longitude <= belgium_longitude_range[1] and \
           belgium_latitude_range[0] <= latitude <= belgium_latitude_range[1]

# Check longitude and latitude in each dataset
for dataset_name, dataset in zip(['df_interventions_bxl', 'df_interventions_bxl2', 'df_interventions1',
                                  'df_interventions2', 'df_interventions3', 'df_cad9'], all_interventions):
    # Initialize counters for coordinates inside and outside Belgium for intervention and permanence
    inside_intervention_count = 0
    outside_intervention_count = 0
    inside_permanence_count = 0
    outside_permanence_count = 0
    nan_count_intervention = 0
    nan_count_permanence = 0
    
    # Check if longitude and latitude are within Belgium boundaries for intervention
    for _, row in dataset.iterrows():
        if pd.isna(row['longitude_intervention']) or pd.isna(row['latitude_intervention']):
            nan_count_intervention += 1
        else:
            longitude = float(row['longitude_intervention'])
            latitude = float(row['latitude_intervention'])
            if is_within_belgium(longitude, latitude):
                inside_intervention_count += 1
            else:
                outside_intervention_count += 1
    
    # Check if longitude and latitude are within Belgium boundaries for permanence
    for _, row in dataset.iterrows():
        if pd.isna(row['longitude_permanence']) or pd.isna(row['latitude_permanence']):
            nan_count_permanence += 1
        else:
            longitude = float(row['longitude_permanence'])
            latitude = float(row['latitude_permanence'])
            if is_within_belgium(longitude, latitude):
                inside_permanence_count += 1
            else:
                outside_permanence_count += 1
    
    # Print the result for each dataset
    print(f"{dataset_name}: Intervention - Inside Belgium: {inside_intervention_count}, Outside Belgium: {outside_intervention_count}, NaNs: {nan_count_intervention}")
    print(f"{dataset_name}: Permanence - Inside Belgium: {inside_permanence_count}, Outside Belgium: {outside_permanence_count}, NaNs: {nan_count_permanence}")

df_interventions_bxl: Intervention - Inside Belgium: 0, Outside Belgium: 115645, NaNs: 0
df_interventions_bxl: Permanence - Inside Belgium: 0, Outside Belgium: 115645, NaNs: 0
df_interventions_bxl2: Intervention - Inside Belgium: 0, Outside Belgium: 36710, NaNs: 0
df_interventions_bxl2: Permanence - Inside Belgium: 0, Outside Belgium: 36710, NaNs: 0
df_interventions1: Intervention - Inside Belgium: 167165, Outside Belgium: 33462, NaNs: 0
df_interventions1: Permanence - Inside Belgium: 166719, Outside Belgium: 33908, NaNs: 0
df_interventions2: Intervention - Inside Belgium: 176437, Outside Belgium: 24190, NaNs: 0
df_interventions2: Permanence - Inside Belgium: 173871, Outside Belgium: 26756, NaNs: 0
df_interventions3: Intervention - Inside Belgium: 157142, Outside Belgium: 43485, NaNs: 0
df_interventions3: Permanence - Inside Belgium: 156968, Outside Belgium: 43659, NaNs: 0
df_cad9: Intervention - Inside Belgium: 280551, Outside Belgium: 12, NaNs: 0
df_cad9: Permanence - Inside Belgium: 230212, Outside Belgium: 50351, NaNs: 0

In [94]:
# Check format
#df_interventions_bxl.longitude_intervention
#df_interventions_bxl.latitude_intervention
#df_interventions_bxl.longitude_permanence
#df_interventions_bxl.latitude_permanence
#df_interventions_bxl2.longitude_intervention
#df_interventions_bxl2.latitude_intervention
#df_interventions_bxl2.longitude_permanence
#df_interventions_bxl2.latitude_permanence
#df_interventions3.longitude_intervention
#df_interventions3.latitude_intervention
#df_interventions3.longitude_permanence
#df_interventions3.latitude_permanence

In [95]:
import numpy as np

# Function to convert longitude and latitude within the ranges of Belgium
def loc_convert(l, max_l):
    l = float(l)
    while l > max_l:
        l /= 10
    return l

# Define the latitude and longitude ranges of Belgium
belgium_longitude_range = (2.5, 6.3)
belgium_latitude_range = (49.5, 51.5)

# Adjust mislabelled lat/lon values and remove values outside the range for each DataFrame
for dataset in all_interventions:
    for col in ['longitude_intervention', 'latitude_intervention', 'longitude_permanence', 'latitude_permanence']:
        dataset[col] = dataset[col].apply(loc_convert, args=(belgium_longitude_range[1],) if 'longitude' in col else (belgium_latitude_range[1],))
        dataset[col] = dataset[col].where((dataset[col] >= belgium_longitude_range[0]) & (dataset[col] <= belgium_longitude_range[1]) if 'longitude' in col else (dataset[col] >= belgium_latitude_range[0]) & (dataset[col] <= belgium_latitude_range[1]), np.nan)

In [96]:
# Define the country codes to be removed
country_codes = ['NLD', 'DEU', 'FRA', 'LUX']

# Iterate over each DataFrame in all_interventions
for dataset in all_interventions:
    # Create a boolean mask for rows where cityname_intervention starts with any of the country codes
    mask = dataset['cityname_intervention'].str.startswith(tuple(country_codes), na=False)
    # Remove the rows where the mask is True
    dataset = dataset[~mask]

In [97]:
# Merge all datasets into one
interventions_dataset = pd.concat(all_interventions, ignore_index=True)

In [98]:
# Remove non-numeric characters
interventions_dataset['housenumber_permanence'] = interventions_dataset['housenumber_permanence'].str.extract('(\d+)')
interventions_dataset['postalcode_intervention'] = interventions_dataset['postalcode_intervention'].str.extract('(\d+)')
interventions_dataset['postalcode_destination_hospital'] = interventions_dataset['postalcode_destination_hospital'].str.extract('(\d+)')
interventions_dataset['housenumber_destination_hospital'] = interventions_dataset['housenumber_destination_hospital'].str.extract('(\d+)')

In [99]:
# Replace "AMB" with "Ambulance" in the "vector_type" column
interventions_dataset['vector_type'] = interventions_dataset['vector_type'].replace('AMB', 'Ambulance')

In [120]:
# Define a dictionary to map the old values to the new values
replacement_map = {
    "Brandziekenwagen": "Fire ambulance",
    "Decontanimatieziekenwagen": "Decontamination ambulance"
}

# Replace values in the "vector_type" column
interventions_dataset['vector_type'] = interventions_dataset['vector_type'].replace(replacement_map)

In [123]:
# Mapping dictionary for translation
translation_mapping = {
    'Weigering van vervoer': 'Refusal of transport',
    'Geannuleerd': 'Cancelled',
    'Zonder patient': 'Without patient',
    'Vervoerd door politie': 'Transported by police',
    'Kwaadwillig': 'Malicious',
    'Verzorgd ter plaatse': 'Cared for on-site',
    'Overleden': 'Deceased',
    'Vervoerd door derden': 'Transported by third parties',
    'Weigering vervoer': 'Refusal of transport',
    'Kwaadwillige oproep': 'Malicious call',
    'Geannuleerde rit': 'Cancelled trip',
    'Loos alarm goed bedoeld': 'False alarm well-intentioned',
    'Vervoer door derden': 'Transport by third parties',
    'Dood Ter Plaatse': 'Dead On Site',
    'Ter plaatste behandeld': 'Treated on site'
}

# Replace values using the mapping dictionary
interventions_dataset['abandon_reason'] = interventions_dataset['abandon_reason'].replace(translation_mapping)

In [114]:
# Replace "None" values with NaN
interventions_dataset.replace("None", np.nan, inplace=True)

In [101]:
# Get unique column names across all datasets
all_columns = set().union(*(dataset.columns for dataset in all_interventions))

# Count occurrences of each column across datasets
column_count = {column: sum(column in dataset.columns for dataset in all_interventions) for column in all_columns}

# Print column counts
for column, count in sorted(column_count.items(), key=lambda x: x[1], reverse=True):
    print(f"{column}: {count} datasets")

t3: 6 datasets
longitude_intervention: 6 datasets
service_name: 6 datasets
permanence_short_name: 6 datasets
t5: 6 datasets
longitude_permanence: 6 datasets
t2: 6 datasets
latitude_permanence: 6 datasets
vector_type: 6 datasets
t7_Hour: 6 datasets
eventlevel_trip: 6 datasets
name_destination_hospital: 6 datasets
eventtype_trip: 6 datasets
t0_Month: 6 datasets
t7: 6 datasets
mission_id: 6 datasets
permanence_long_name: 6 datasets
t0_DayName: 6 datasets
t0_Hour: 6 datasets
t7_Day: 6 datasets
t7_DayName: 6 datasets
t0: 6 datasets
t7_Month: 6 datasets
t6: 6 datasets
cityname_intervention: 6 datasets
t1: 6 datasets
latitude_intervention: 6 datasets
t4: 6 datasets
t0_Day: 6 datasets
streetname_permanence: 5 datasets
cityname_destination_hospital: 5 datasets
cityname_permanence: 5 datasets
streetname_destination_hospital: 5 datasets
housenumber_destination_hospital: 5 datasets
number_of_transported_persons: 5 datasets
abandon_reason: 5 datasets
departure_time_(t1reported): 5 datasets
intervention_time_(t1reported): 5 datasets
t1confirmed: 5 datasets
housenumber_permanence: 5 datasets
eventtype_firstcall: 4 datasets
postalcode_permanence: 4 datasets
calculated_distance_destination: 4 datasets
eventlevel_firstcall: 4 datasets
intervention_duration: 4 datasets
unavailable_time: 4 datasets
waiting_time: 4 datasets
postalcode_intervention: 4 datasets
calculated_traveltime_destinatio: 4 datasets
t9: 4 datasets
postalcode_destination_hospital: 4 datasets
province_intervention: 4 datasets
intervention_time_(t1confirmed): 4 datasets
departure_time_(t1confirmed): 4 datasets

In [126]:
# Save data sets as a Parquet file
df_interventions_bxl.to_parquet('../../1_Data/CLEANED/df_interventions_bxl.parquet')
df_interventions_bxl2.to_parquet('../../1_Data/CLEANED/df_interventions_bxl2.parquet')
df_interventions1.to_parquet('../../1_Data/CLEANED/df_interventions1.parquet')
df_interventions2.to_parquet('../../1_Data/CLEANED/df_interventions2.parquet')
df_interventions3.to_parquet('../../1_Data/CLEANED/df_interventions3.parquet')
df_cad9.to_parquet('../../1_Data/CLEANED/df_cad9.parquet')
interventions_dataset.to_parquet('../../1_Data/CLEANED/interventions_dataset.parquet')

In [2]:
# Load data
import pandas as pd
# Path to your Parquet gzip file
file_path_5 = '../../1_Data/CLEANED/df_interventions_bxl.parquet'
file_path_6 = '../../1_Data/CLEANED/df_interventions_bxl2.parquet'
file_path_7 = '../../1_Data/CLEANED/df_interventions1.parquet'
file_path_8 = '../../1_Data/CLEANED/df_interventions2.parquet'
file_path_9 = '../../1_Data/CLEANED/df_interventions3.parquet'
file_path_10 = '../../1_Data/CLEANED/df_cad9.parquet'
file_path_11 = '../../1_Data/CLEANED/interventions_dataset.parquet'

# Read the Parquet file into a pandas DataFrame
df_interventions_bxl = pd.read_parquet(file_path_5, engine='pyarrow')
df_interventions_bxl2 = pd.read_parquet(file_path_6, engine='pyarrow')
df_interventions1 = pd.read_parquet(file_path_7, engine='pyarrow')
df_interventions2 = pd.read_parquet(file_path_8, engine='pyarrow')
df_interventions3 = pd.read_parquet(file_path_9, engine='pyarrow')
df_cad9 = pd.read_parquet(file_path_10, engine='pyarrow')
interventions_dataset = pd.read_parquet(file_path_11, engine='pyarrow')

In [4]:
# Create subset of the data
subset_selected_events = interventions_dataset[
    interventions_dataset['eventtype_trip'].isin([
    'P002 - Agression - fight - rape',
    'P003 - Cardiac arrest',
    'P010 - Respiratory problems',
    'P020 - Intoxication alcohol',
    'P021 - Intoxication drugs',
    'P032 - Allergic reactions',
    'P036 - Heat stroke - solar stroke',
    'P072 - Sick child < 15 years with fever',
    'P080 - COVID-19']) 
]

subset_correlation_heatmap1 = interventions_dataset[
    interventions_dataset['eventlevel_trip'].isin(['N0', 'N1', 'N2', 'N3', 'N4', 'N5'])
    & interventions_dataset['eventlevel_firstcall'].isin(['N0', 'N1', 'N2', 'N3', 'N4', 'N5'])
]
subset_correlation_heatmap2 = interventions_dataset[
    interventions_dataset['eventtype_trip'].isin([
    'P002 - Agression - fight - rape',
    'P003 - Cardiac arrest',
    'P010 - Respiratory problems',
    'P020 - Intoxication alcohol',
    'P021 - Intoxication drugs',
    'P032 - Allergic reactions',
    'P036 - Heat stroke - solar stroke',
    'P072 - Sick child < 15 years with fever',
    'P080 - COVID-19']) 
    & interventions_dataset['eventtype_firstcall'].isin([
    'P002 - Agression - fight - rape',
    'P003 - Cardiac arrest',
    'P010 - Respiratory problems',
    'P020 - Intoxication alcohol',
    'P021 - Intoxication drugs',
    'P032 - Allergic reactions',
    'P036 - Heat stroke - solar stroke',
    'P072 - Sick child < 15 years with fever',
    'P080 - COVID-19']) 
]
subset_correlation_heatmap3 = interventions_dataset[
    interventions_dataset['eventtype_trip'].isin([
        'P003 - Cardiac arrest',
        'P004 - Stroke',
        'P011 - Chest pain']) 
    & interventions_dataset['eventlevel_trip'].isin(['N0', 'N1', 'N2', 'N3', 'N4', 'N5']) 
]
subset_correlation_heatmap4 = interventions_dataset[
    interventions_dataset['eventlevel_trip'].isin(['N0', 'N1', 'N2', 'N3', 'N4', 'N5']) 
    & interventions_dataset['vector_type'].isin(['MUG', 'PIT', 'Ambulance'])
]
subset_correlation_heatmap5 = interventions_dataset[
    interventions_dataset['eventtype_trip'].isin([
    'P002 - Agression - fight - rape',
    'P003 - Cardiac arrest',
    'P010 - Respiratory problems',
    'P020 - Intoxication alcohol',
    'P021 - Intoxication drugs',
    'P032 - Allergic reactions',
    'P036 - Heat stroke - solar stroke',
    'P072 - Sick child < 15 years with fever',
    'P080 - COVID-19',
    'P099 - Interhospital transport',
    'P011 - Chest pain',
    'P019 - Unconscious - syncope',
    'FI (1.3.0) fire building',
    'HG (2.1.1) gas odour',
    'HG (2.1.2) gas leak',
    'TI (3.3.2) CO intoxication'
    ]) 
    & interventions_dataset['vector_type'].isin(['MUG', 'PIT', 'Ambulance', 'Ambulance Exceptional', 'Fire ambulance'])
]
subset_correlation_heatmap6 = interventions_dataset[
    interventions_dataset['eventtype_trip'].isin([
    'P003 - Cardiac arrest',
    'P067 - Social problem']) 
]
subset_line_charts = interventions_dataset[
    interventions_dataset['eventtype_trip'].isin([
    'P002 - Agression - fight - rape',
    'P003 - Cardiac arrest',
    'P010 - Respiratory problems',
    'P012 - Non-traumatic abdominal pain',
    'P013 - Non-traumatic back pain',
    'P020 - Intoxication alcohol',
    'P021 - Intoxication drugs',
    'P022 - Intoxication medication',
    'P029 - Obstruction of the respiratory tract',
    'P031 - Psychiatric problem',
    'P032 - Allergic reactions',
    'P067 - Social problem',
    'P080 - COVID-19',
    'P097 - Collocation (planned)'
    ]) 
]

subset_map_subplots = interventions_dataset[
    interventions_dataset['eventtype_trip'].isin([
    'P001 - Traffic accident',
    'P032 - Allergic reactions',
    'P036 - Heat stroke - solar stroke',
    'P072 - Sick child < 15 years with fever',
    'P080 - COVID-19']) 
]

subset_cardiac = interventions_dataset[interventions_dataset['eventtype_trip'].isin(['P003 - Cardiac arrest'])]

In [5]:
#Save subset
subset_selected_events.to_parquet('../../1_Data/CLEANED/subset_selected_events.parquet')
subset_correlation_heatmap1.to_parquet('../../1_Data/CLEANED/subset_correlation_heatmap1.parquet')
subset_correlation_heatmap2.to_parquet('../../1_Data/CLEANED/subset_correlation_heatmap2.parquet')
subset_correlation_heatmap3.to_parquet('../../1_Data/CLEANED/subset_correlation_heatmap3.parquet')
subset_correlation_heatmap4.to_parquet('../../1_Data/CLEANED/subset_correlation_heatmap4.parquet')
subset_correlation_heatmap5.to_parquet('../../1_Data/CLEANED/subset_correlation_heatmap5.parquet')
subset_correlation_heatmap6.to_parquet('../../1_Data/CLEANED/subset_correlation_heatmap6.parquet')
subset_line_charts.to_parquet('../../1_Data/CLEANED/subset_line_charts.parquet')
subset_map_subplots.to_parquet('../../1_Data/CLEANED/subset_map_subplots.parquet')
subset_cardiac.to_parquet('../../1_Data/CLEANED/subset_cardiac.parquet')

In [3]:
for column in interventions_dataset.columns:
    unique_values = interventions_dataset[column].unique()
    if len(unique_values) <= 100:
        print(f"Column: {column}")
        print(unique_values)
        print()
    else:
        print(f"Column '{column}' has more than 100 unique values. Skipping printing...")

Column 'mission_id' has more than 100 unique values. Skipping printing...
Column 'service_name' has more than 100 unique values. Skipping printing...
Column 'postalcode_permanence' has more than 100 unique values. Skipping printing...
Column 'cityname_permanence' has more than 100 unique values. Skipping printing...
Column 'streetname_permanence' has more than 100 unique values. Skipping printing...
Column: housenumber_permanence
[None '11' '74' '148816' '148510' '322' '201' '627' '61' '149104' '145735'
 '151600' '148100' '152391' '92' '142260' '63' '149925' '151370' '10' '1'
 '5' '72' '100' '32' '115' '133' '7' '550' '77' '47' '54' '142' '46' '13'
 '9' '147' '37' '57' '55' '34' '12' '26' '6' '24' '2' '19' '111' '23']

Column 'latitude_permanence' has more than 100 unique values. Skipping printing...
Column 'longitude_permanence' has more than 100 unique values. Skipping printing...
Column 'permanence_short_name' has more than 100 unique values. Skipping printing...
Column 'permanence_long_name' has more than 100 unique values. Skipping printing...
Column: vector_type
['Ambulance' 'MUG' 'PIT' 'Fire ambulance' 'Decontamination ambulance' None
 'Ambulance Event' 'Ambulance Disaster' 'MUG Event' 'PIT Event'
 'Ambulance Exceptional' 'MUG Disaster' 'PIT Disaster']

Column 'eventtype_firstcall' has more than 100 unique values. Skipping printing...
Column: eventlevel_firstcall
['N5' None 'N3' 'N1' 'N4' 'N2' 'N6' 'N0' 'N8' 'N7A' 'N7B']

Column 'eventtype_trip' has more than 100 unique values. Skipping printing...
Column: eventlevel_trip
['N5' 'N1' 'N3' None 'N4' 'N2' 'N0' 'N6' 'N8' 'Buitendienststelling' 'N7'
 'Interventieplan' 'N7A' 'N7B' 'T' 'TS' 'S' 'G' 'B' 'VO' 'TP' 'EK' '5Z'
 'L' 'GE' 'IF' 'PO' 'KN' 'SO' 'AG' 'TC' 'PR' 'OR' 'OF' 'VL' 'IZ' 'OD' 'BI'
 'EU']

Column 'postalcode_intervention' has more than 100 unique values. Skipping printing...
Column 'cityname_intervention' has more than 100 unique values. Skipping printing...
Column 'latitude_intervention' has more than 100 unique values. Skipping printing...
Column 'longitude_intervention' has more than 100 unique values. Skipping printing...
Column 't0' has more than 100 unique values. Skipping printing...
Column 't1' has more than 100 unique values. Skipping printing...
Column 't1confirmed' has more than 100 unique values. Skipping printing...
Column 't2' has more than 100 unique values. Skipping printing...
Column 't3' has more than 100 unique values. Skipping printing...
Column 't4' has more than 100 unique values. Skipping printing...
Column 't5' has more than 100 unique values. Skipping printing...
Column 't6' has more than 100 unique values. Skipping printing...
Column 't7' has more than 100 unique values. Skipping printing...
Column 't9' has more than 100 unique values. Skipping printing...
Column 'intervention_time_(t1reported)' has more than 100 unique values. Skipping printing...
Column 'waiting_time' has more than 100 unique values. Skipping printing...
Column 'intervention_duration' has more than 100 unique values. Skipping printing...
Column 'departure_time_(t1reported)' has more than 100 unique values. Skipping printing...
Column 'unavailable_time' has more than 100 unique values. Skipping printing...
Column 'name_destination_hospital' has more than 100 unique values. Skipping printing...
Column: postalcode_destination_hospital
[None '1000' '1200' '1070' '1160' '1050' '1030' '1180' '1020' '1090'
 '1190' '1120' '1420' '1730' '1850' '1800' '3070' '3000' '2800' '1500'
 '9300' '2060' '7500' '2840' '1340' '1400' '9090' '3360' '1210' '4240']

Column 'cityname_destination_hospital' has more than 100 unique values. Skipping printing...
Column 'streetname_destination_hospital' has more than 100 unique values. Skipping printing...
Column: housenumber_destination_hospital
[None '10' '808' '201' '66' '63' '150' '322' '36' '206' '101' '11' '142'
 '79' '15' '1' '43' '35' '5' '40' '65' '34' '517' '49' '102' '435' '100'
 '164' '294' '109' '172' '9' '80' '76' '4' '22']

Column 'calculated_traveltime_destinatio' has more than 100 unique values. Skipping printing...
Column 'calculated_distance_destination' has more than 100 unique values. Skipping printing...
Column: number_of_transported_persons
['nan' '1.0' '2.0' '4.0' '3.0' None]

Column: abandon_reason
['Error' None 'Refusal of transport' 'Cancelled' 'Without patient'
 'Transported by police' 'Malicious' 'Cared for on-site' 'Deceased'
 'Transported by third parties' 'Malicious call' 'Cancelled trip'
 'False alarm well-intentioned' 'Transport by third parties'
 'Dead On Site' 'Treated on site']

Column: t0_Hour
[ 9. 10. 11. 12. 13. 14. 15. 16. 17. 18. 19. 20. 21. 22. 23.  0.  1.  2.
  3.  4.  5.  6.  7.  8. nan]

Column: t0_Day
[ 6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18. 19. 20. 21. 22. 23.
 24. 25. 26. 27. 28. 29. 30.  1.  2.  3.  4.  5. 31. nan]

Column: t0_Month
[ 9. 10. 11. 12.  1.  2.  3.  4.  5.  6.  7.  8. nan]

Column: t0_DayName
['Tuesday' 'Wednesday' 'Thursday' 'Friday' 'Saturday' 'Sunday' 'Monday'
 None]

Column: t7_Hour
[ 9. 10. 11. nan 12. 13. 14. 15. 16. 17. 18. 19. 20. 21. 22. 23.  0.  1.
  2.  3.  4.  5.  6.  7.  8.]

Column: t7_Day
[ 6. nan  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18. 19. 20. 21. 22.
 23. 24. 25. 26. 27. 28. 29. 30.  1.  2.  3.  4.  5. 31.]

Column: t7_Month
[ 9. nan 10. 11. 12.  1.  2.  3.  4.  5.  6.  7.  8.]

Column: t7_DayName
['Tuesday' None 'Wednesday' 'Thursday' 'Friday' 'Saturday' 'Sunday'
 'Monday']

Column: province_intervention
[None 'ANT' 'VBR' 'BRW' 'WVL' 'OVL' 'HAI' 'LIE' 'LIM' 'LUX' 'NAM' 'BXL'
 'NL']

Column 'intervention_time_(t1confirmed)' has more than 100 unique values. Skipping printing...
Column 'departure_time_(t1confirmed)' has more than 100 unique values. Skipping printing...

In [4]:
# Assuming interventions_dataset is your DataFrame
num_postal_codes = interventions_dataset['province_intervention'].nunique()
print("Number of unique postal codes in the dataset:", num_postal_codes)

Number of unique postal codes in the dataset: 12